body{
	background: black url('/images/bg_hm.jpg') no-repeat center top;
	font-family: 'Droid Sans';
	color: #2f2b2f;
	/* font-weight: 400; */
	padding: 0px !important;
	margin: 0px !important;
}

@media screen (min-width: 767px)
{
    .bottom-line{
    top:10px;
    }

}

a{
	color: #551A8B;
}

a:hover{
	color: rgba(85, 26, 139, 0.78);
}

/* form validation */
.invalid-select{
	border-left-color: #FF3300;
	border-left-width: 3px;
}

@media (min-width: 1900px) {
	/* fix to scale background on screens larger than background image */
	body {
		background-size: 100%;
	}
}

@font-face {
    font-family: 'Droid Sans';
        src: url('/fonts/droidsans_regular/DroidSans-webfont.eot'); /* IE9 Compat Modes */
        src: url('/fonts/droidsans_regular/DroidSans-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/droidsans_regular/DroidSans-webfont.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/droidsans_regular/DroidSans-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/droidsans_regular/DroidSans-webfont.svg#svgDroidSans') format('svg'); /* Legacy iOS */
}
 
/* the fix ! simply ADD this block BELOW the above block */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Droid Sans';
            src: url('/fonts/droidsans_regular/DroidSans-webfont.svg#svgDroidSans') format('svg');
    }
}

@font-face {
    font-family: 'Droid Sans Bold';
        src: url('/fonts/droidsans_bold/DroidSans-Bold-webfont.eot'); /* IE9 Compat Modes */
        src: url('/fonts/droidsans_bold/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/droidsans_bold/DroidSans-Bold-webfont.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/droidsans_bold/DroidSans-Bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/droidsans_bold/DroidSans-Bold-webfont.svg#svgDroidSansBold') format('svg'); /* Legacy iOS */
}
 
/* the fix ! simply ADD this block BELOW the above block */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Droid Sans';
            src: url('/fonts/droidsans_bold/DroidSans-Bold-webfont.svg#svgDroidSansBold') format('svg');
    }
}

.large-panel-scroll{
	max-height: 500px;
	overflow-y: scroll;
}

.img_grow_wide{
	width: 100%;
}

.header_image{
	margin-bottom: 20px;
}

.img_grow_tall{
	height: 100%;
}

#winnings_pullout{
	width: 235px;
	height: 100%;
	position: fixed;
	z-index: 10;
	left: -200px;
	top: 60px;
}

#winnings_pullout .well{
	height: 90%;
	margin: 0px;
	padding: 2px;
	background: url('/images/hm_bg.png');
	border: 3px solid #8d0980;
	overflow-y: scroll;
	overflow-x: hidden;
}

#winnings_pullout .well span{
	padding: 0px;
}

#winnings_pullout .col-sm-2{
	margin: 0px;
	padding: 0px;
}

#winnings_pullout #winning_pullout_button{
	z-index: 999;
	padding-top: 75px;
	margin: 0px;
}

#winnings_pullout ul {
	padding: 0px;
	list-style: none;
	margin: 0;
	font-size: 12px;
}

#winnings_pullout ul li {
	padding: 5px 10px;
	border-bottom: 1px solid white;
	margin: 0px;
	line-height: 1.9em;
	list-style: none;
}

#winnings_pullout ul li p {
	margin: 4px 0px;
	color: white;
}

#winnings_pullout ul li .ball {
	border-radius: 50px;
	background: purple;
	color: white;
	display: inline-block;
	padding: 1px 8px;
	margin: 3px;
}

.balances_panel_body {
	margin: 0px;
	padding: 0px;
	background: hsl(288, 100%, 18%);
	background-image: linear-gradient(#9b00c1, #49005b);
	background-image: -o-linear-gradient(top, #9b00c1, #49005b);
	background-image: -webkit-linear-gradient(top, #9b00c1, #49005b);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9b00c1), color-stop(100%, #49005b));
}

.balances {
	margin: 0px;
	padding: 0px;
}

.balances ul {
	list-style: none;
	margin: 0px;
	padding: 20px 0px;
}

.balances ul li {
	list-style: none;
	text-align: center;
	padding: 10px;
}

.balances ul li strong {
	color: #fdc217;
	font-weight: bold;
	font-size: 18px;
}

.balances ul li p{
	color: white;
	font-size: 16px;
}

.balances ul li .header {
	font-weight: bold;
	font-size: 22px;
}

#header{
	height: 180px;
	width: 100%;
	border-bottom: 5px solid #b60da5;
	-webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3);
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3);
}

#header #todays_wins {
	font-family: 'Rockwell';
	width: 195px;
	background: #620057 url(../images/todayswinning.png) no-repeat center 70px;
	padding: 15px 10px;
	margin-top: 30px;
	text-align: center;
	color: #ffdf51;
	font-size: 18px;
	height: 125px;
}

#header .get_p {
	line-height: 18px;
	margin: 0;
	text-transform: uppercase;
	margin-bottom: 7px;
}

#header .pr_items {
	background: url(../images/casino_win.jpg) repeat-x top;
	color: #8e0981;
	border-left: 2px solid #856d2c;
	display: inline-block;
	text-align: center;
	font-size: 26px;
	padding: 0 5px;
}

#header #logo{
	height: 161px;
	z-index: 1;
}

#header #loggedin, #header #login {
	padding: 5px;
	display: inline-block;
	width: auto;
	height: 65px;
	margin-top: 8px;
	vertical-align: middle;
	text-align: center;
	background: url(../images/logbg.png);
	background: #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	-webkit-box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.5);
	box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.5);
	color: #333;
}

/* Navbar Mods */

#nav_contain {
	text-align: center;
	font-family: 'Droid Sans Bold';
	font-size: 16px;
}

.icon-bar{
	background-color: #888;
}

.navbar-collapse.in {
    overflow-y: visible;
}

ul.nav.nav-pills.head-menu.nav-stacked>li>a{
	color: hsl(288, 100%, 18%) !important;
}

.navbar .navbar-header{
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0px;
}

.navbar-header{
	background-color: hsl(288, 100%, 18%) !important;
	color: white !important;
}

.navbar-collapse {
	color: hsl(288, 100%, 18%) !important;
	background-color: #49005C;
	border: none !important;
	margin: 0px;
}
.navbar-default {
    background-color:  hsl(288, 100%, 18%) !important;
    border-color:  hsl(288, 100%, 18%) !important;
}
.navbar-default .navbar-nav > li > a {
   	color: white; /*Change active text color here*/
    padding-right: 5px;
    padding-left: 5px;



}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: purple;  /*Sets the text hover color on navbar*/
    background-color:  silver;

}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: none;
}


#brand {
    width:191px;
}

@media (min-width: 768px) {
	.navbar {
		background: transparent;
		border-radius: 15px;
		margin-top: 20px;
		margin-right: 50px;
		margin-left: 50px;
	}
	.navbar-collapse {
		background-color: transparent !important;
		border: none !important;
		margin: 0px;
	}
	#brand {
	    width:269px;
	}
}
}

#main_menu ul {
	display: inline-block;
	margin: 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color: hsl(288, 100%, 18%) !important;
	color: white !important;
}

.three-box{
	text-align: center;
}


/* http://charliepark.org/bootstrap_buttons/ */
.btn-primary {
	background-color: hsl(288, 100%, 18%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9b00c1", endColorstr="#49005b");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#9b00c1), to(#49005b));
	background-image: -moz-linear-gradient(top, #9b00c1, #49005b);
	background-image: -ms-linear-gradient(top, #9b00c1, #49005b);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9b00c1), color-stop(100%, #49005b));
	background-image: -webkit-linear-gradient(top, #9b00c1, #49005b);
	background-image: -o-linear-gradient(top, #9b00c1, #49005b);
	background-image: linear-gradient(#9b00c1, #49005b);
	border-color: #49005b #49005b hsl(288, 100%, 13%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}

/* http://charliepark.org/bootstrap_buttons/ */
.btn-magenta {
	background-color: hsl(305, 100%, 24%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5bf1", endColorstr="#7a0070");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ff5bf1), to(#7a0070));
	background-image: -moz-linear-gradient(top, #ff5bf1, #7a0070);
	background-image: -ms-linear-gradient(top, #ff5bf1, #7a0070);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff5bf1), color-stop(100%, #7a0070));
	background-image: -webkit-linear-gradient(top, #ff5bf1, #7a0070);
	background-image: -o-linear-gradient(top, #ff5bf1, #7a0070);
	background-image: linear-gradient(#ff5bf1, #7a0070);
	border-color: #7a0070 #7a0070 hsl(305, 100%, 13%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.72);
	-webkit-font-smoothing: antialiased;
}

#login_text{
	padding-top: 4px;
	font-size: 11px;
}

#loggedin a, #login a{
	color: #b60da5;
}

#loggedin a {
	font-weight: bold;
}

#wrapper{
	border:6px solid #e3e3e3;
	background: white;
	-webkit-box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.5);
	box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.5);
	min-height: 500px;
	margin-bottom: 40px;
}

.carousel-image{
	width: 100%;
	height: 100%;
}

.cursor-pointer{
	cursor: pointer;
}

#slider{
	padding:4px;
	background:#fff;
	-webkit-box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.5);
	box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.5);
	position:relative;
	z-index:5
}
 
 .fancy-border{
	padding:4px;
	background:#fff;
	-webkit-box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.5);
	box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.5);
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
 
 /* xs */
.testimonials{
	width: 32%;
	height: auto;
	padding: 15px;
	background:url(../images/test_bg.png);
	position:absolute;
	top:6;
	left:6;	
	z-index:99;
	color:#fff;
}
.testimonials p{
	margin: 5px 0;
	font-family: 'Droid Sans';
	font-size: 10px;
}

@media (min-width: 992px) {
	/* sm */
	.testimonials p{
		font-size: 12.5px;
	}
	.testimonials{
		width: 30%;
	}
}
@media (min-width: 1200px) {
	/* lg */
	.testimonials p{
		font-size: 14px;
	}
	.testimonials{
		width: 27%;
	}
}

.quote_lft{
	background: url(../images/quotez.png) no-repeat left top;
	padding-left: 24px;
}

.quote_rgt{
	background: url(../images/quotex.png) no-repeat right top;
	padding-right: 23px;
}

.name_t{
	color: #ffdf51;
	font-weight: bold;
	text-align: right;
}


/* tab styling */

.nav.nav-tabs>li.active>a{
	border: 1px solid hsl(288, 100%, 18%);
	border-bottom-color: transparent;
}

.nav-tabs {
	border-bottom: 1px solid hsl(288, 100%, 18%);
}

.nav.nav-tabs>li:hover>a {
	border: 1px solid hsl(288, 100%, 18%);
	border-bottom-color: transparent;
}


/* panel styling */

.panel-default>.panel-heading{
	background-color: hsl(288, 100%, 18%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9b00c1", endColorstr="#49005b");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#9b00c1), to(#49005b));
	background-image: -moz-linear-gradient(top, #9b00c1, #49005b);
	background-image: -ms-linear-gradient(top, #9b00c1, #49005b);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9b00c1), color-stop(100%, #49005b));
	background-image: -webkit-linear-gradient(top, #9b00c1, #49005b);
	background-image: -o-linear-gradient(top, #9b00c1, #49005b);
	background-image: linear-gradient(#9b00c1, #49005b);
	border-color: #49005b #49005b hsl(288, 100%, 13%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}

.panel-default {
	border-color:  hsl(288, 100%, 18%);
}

#autohide_games_contain{
	margin-top: -40px;
}



/* Banner Text */
#header_banner{
	font-size: 40px;
	color:#333;
	text-shadow: 1px 1px 8px #fff;
	font-family: Rockwell_b;
	font-weight: 800;
	-webkit-text-stroke: 1px #631009;
	text-transform: uppercase;
}

#header_banner .h1_subtxt{
	font-size: 14px;
}

#header_banner .h1_subtxt .h1_subtxt2{
	color: #950a87;
	font-size: 40px;
}

/* Responsible Way To Play */
.bigtxt{
	font-size: 35px;
	color: #950a87;
	font-family: Rockwell_b;
}

/* Footer */
#footer_wrapper{
	background-color:black;
	padding: 20px;
}

#footer h2{
	color: #fff;
	font-family: 'Rockwell';
	font-size: 20px;
}

#footer ul{
	list-style: none;
	padding: 0;
	margin: 0px 0;
}

#footer ul li{
	display: list-item;
	text-align: -webkit-match-parent;
}

#footer ul li a{
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration: none;
	display: block;
}

#footer ul li a:hover{
	color: #b60da5;
}

.thumbnail{
    position:relative;
    overflow:hidden;
}
.thumbnail-caption{
    position:absolute;
    top:0;
    right:0;
    background: rgba(168, 164, 210, 0.65);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
body{
	background-image: url("../images/landingpage/bg.jpg");
	background-position: center;
	background-attachment: fixed;
}

.box{
	border:1px dotted red;
}

.box_gradient {
	background-color: #444444;
	background-image: -webkit-linear-gradient(top, #eee, #443a39); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image:         linear-gradient(top, #eee, #443a39); /* Chrome 26, Firefox 16+, IE 10+, Opera */
}

.diagonal_gradient{    
	background-color: #444444;
	background-image: -webkit-linear-gradient(top, #444444, #999999);
	background-image: linear-gradient(to right, #444444, #999999); 
}

.radial-gradient{
	background-image: url(../images/landingpage/navbg.png);
	background-size: cover;
	border-radius: 0px;
}

.navbar-toggle{
	background-color:transparent;   
}

.icon-bar{
	background-color:#eee;   
}

.menu_text{
	font:normal 24px Tahoma;
}

.display-table{
	display: table;
	padding:0px 25px 25px 25px;
}

.display-table-cell{
	display: table-cell;
	vertical-align: middle;	
}

.nav-small li{
	margin:10px 5px;
	padding:5px 8px;
}

.top-nav li {
	line-height: 50px;
}

.top-nav a {
	color:#fff;
}

.top-nav li a:hover {
	background: #413e3d;
	color:#fff;
}

.top-nav li a:focus{
	background: #413e3d;
	color:#fff;
}

.top-form{
	padding:5px;
	background-color:#333;
	color: #fff;
}

.top-form a{
	color:#FBB4F0;
}

input.form-control{
	background-color:#000;
	color: #fff;
	border:1px solid purple;
}

button.btn-primary{
	background: rgba(153,153,153,1);
	background: -moz-linear-gradient(top, rgba(153,153,153,1) 0%, rgba(11,4,4,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(153,153,153,1)), color-stop(100%, rgba(11,4,4,1)));
	background: -webkit-linear-gradient(top, rgba(153,153,153,1) 0%, rgba(11,4,4,1) 100%);
	background: -o-linear-gradient(top, rgba(153,153,153,1) 0%, rgba(11,4,4,1) 100%);
	background: -ms-linear-gradient(top, rgba(153,153,153,1) 0%, rgba(11,4,4,1) 100%);
	background: linear-gradient(to bottom, rgba(153,153,153,1) 0%, rgba(11,4,4,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#0b0404', GradientType=0 );
	border-radius: 0px;
	border: 0px solid transparent;
}

.login-form{
	margin-top:0px;
	margin-left:0px;
}

.lead{
	font-size:14px;
}

.text-link{
	color:#FBB4F0;
	text-decoration: none;
	font:normal 14px tahoma;
}

#login-sup{
	margin:5px 0px 0px 0px;
}

.nav-main{
	margin-bottom: 0px;
	padding: 0px;
	padding-left:5px;
}

.nav-main li{
	padding:3px;
}

.nav-main li a{
	color:#fff;
	height: 48px;
}

.nav-main li a:hover{
	background-color:purple;
}

.nav-main li a:focus{
	background-color:purple;
}

.text_shaded{
	text-shadow: 3px 3px 3px #222;
	font-family: Times New Roman;
}

h2.text_shaded{
	letter-spacing: 4px;
}

.winners_board header h2 , aside .lucky_num h3{
	margin:6px auto;
	padding:8px;
}

.win-list {
	padding:10px 0px;
	margin: 5px 0px;
	background-color:transparent;
	border-bottom: 1px solid black;
	color: #fff;
}

.input-sm{
	width:120px;
}

.bet_calculator{
	margin:20px auto;
	height: auto;
	padding-bottom: 24px;
	background-image: url(../images/landingpage/cardbg.png);
	background-size: cover;
	background-position:100%;
	text-align: center;
	color: #fff;
}

.bet_calculator .form-group input{
border:0;
background-color:#aaa;
width:100px;
}

.list-style-none{
	list-style: none;
}

#the_footer{
	width:100%;
	background: black;
	margin: 0 auto;
}

.footer-nav-header{
	font-family:Trajan pro;
	letter-spacing: 3px;
	margin-left:30px;
	padding:10px;
	font-weight: bold;
	margin-bottom:30px;
	margin-top:15px;
	color: #fff;
}

.slider {
	border-bottom: 3px solid red;
}

.winners_board {
	background-color: #2D2D2D;
	height: auto;
	padding-bottom: 2px;
	border-left: 20px solid black;
	border-top: 20px solid black;
}

.win-score {
	color:#ddd;
	font:bold 28px Tahoma;
	background-image: -webkit-radial-gradient(circle ,#9B9B9B ,#7F2473);
	padding:10px 10px 10px 10px;
	text-align: center;
}

.win-num {
	padding:30px;
	text-align: center;
	background-image: url(../images/landingpage/lucky-bg.png);
	background-size: cover;
	border-top: 20px solid black;
}

.bet-options li{
	margin:15px auto;
}

.bet-options li label{
	margin-right:20px;   
}

.bet-options li input{
	background: #555;
	color:#eee;
}

.footer-nav {
	line-height: 2.4em;
}
.footer-nav li a {
	text-decoration: none;
	color:#eee;
}

.footer-nav li a:hover{
	text-decoration: underline;
}

.followus {
	padding-top: 50px;
	color: #fff;
}

.followus_text {
	font:bold 16px Tahoma;
	margin-left:10px;
	letter-spacing: 2px;
}

.nav-col {
	margin:0px;
	padding:0px;    
}

.line {
	border-bottom: 1px solid black;
	position: relative;
	top:4px;
}

.bottom-line {
	border-top: 1px solid black;
	position: relative;
	top:52px;
}
.bottom-line3 {
	border-top: 1px solid transparent;
	position: relative;
	top:50px;
}
.bottom-line2 {
	border-top: 1px solid black;
	position:relative;
	top:94px;
}

.no-padding {
	padding:0px !important;
}

.hot-games {
	margin-top: 20px;
	padding: 10px;
	margin-bottom: 20px;
}

.headings {
	font-size:30px;
	text-align: center;
	font-family:Trajan Pro;
	text-shadow:2px 2px 6px black;
	color: #fff;
}

.select {
	width:118px;
	height: 30px;
}

.win-bg {
	background-image: url(../images/landingpage/winner-bg.png);
	background-size: 100%;
	background-size: cover;
}

.bg {
	background-color: black;
	margin-bottom: 20px;
}

.padding {
	padding-bottom: 31px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: red;
    background-color: yellow;
}
