body{
	background: white url('/images/img/background.jpg') no-repeat center top;
	font-family: 'Droid Sans';
	color: #2f2b2f;
	/* font-weight: 400; */
	padding: 0px !important;
	margin: 0px !important;
}

@media screen (min-width: 767px)
{
    .bottom-line{
    top:10px;
    }

}

a{
	color: #551A8B;
}

a:hover{
	color: rgba(85, 26, 139, 0.78);
}

/* form validation */
.invalid-select{
	border-left-color: #FF3300;
	border-left-width: 3px;
}

@media (min-width: 1900px) {
	/* fix to scale background on screens larger than background image */
	body {
		background-size: 100%;
	}
}

@font-face {
    font-family: 'Droid Sans';
        src: url('/fonts/droidsans_regular/DroidSans-webfont.eot'); /* IE9 Compat Modes */
        src: url('/fonts/droidsans_regular/DroidSans-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/droidsans_regular/DroidSans-webfont.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/droidsans_regular/DroidSans-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/droidsans_regular/DroidSans-webfont.svg#svgDroidSans') format('svg'); /* Legacy iOS */
}
 
/* the fix ! simply ADD this block BELOW the above block */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Droid Sans';
            src: url('/fonts/droidsans_regular/DroidSans-webfont.svg#svgDroidSans') format('svg');
    }
}

@font-face {
    font-family: 'Droid Sans Bold';
        src: url('/fonts/droidsans_bold/DroidSans-Bold-webfont.eot'); /* IE9 Compat Modes */
        src: url('/fonts/droidsans_bold/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/droidsans_bold/DroidSans-Bold-webfont.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/droidsans_bold/DroidSans-Bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/droidsans_bold/DroidSans-Bold-webfont.svg#svgDroidSansBold') format('svg'); /* Legacy iOS */
}
 
/* the fix ! simply ADD this block BELOW the above block */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Droid Sans';
            src: url('/fonts/droidsans_bold/DroidSans-Bold-webfont.svg#svgDroidSansBold') format('svg');
    }
}

.large-panel-scroll{
	max-height: 500px;
	overflow-y: scroll;
}

.img_grow_wide{
	width: 100%;
}

.header_image{
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 20px;
}

.img_grow_tall{
	height: 100%;
}

#winnings_pullout{
	width: 235px;
	height: 100%;
	position: fixed;
	z-index: 10;
	left: -200px;
	top: 60px;
}

#winnings_pullout .well{
	height: 90%;
	margin: 0px;
	padding: 2px;
	background: url('/images/hm_bg.png');
	border: 3px solid #8d0980;
	overflow-y: scroll;
	overflow-x: hidden;
}

#winnings_pullout .well span{
	padding: 0px;
}

#winnings_pullout .col-sm-2{
	margin: 0px;
	padding: 0px;
}

#winnings_pullout #winning_pullout_button{
	z-index: 999;
	padding-top: 75px;
	margin: 0px;
}

#winnings_pullout ul {
	padding: 0px;
	list-style: none;
	margin: 0;
	font-size: 12px;
}

#winnings_pullout ul li {
	padding: 5px 10px;
	border-bottom: 1px solid white;
	margin: 0px;
	line-height: 1.9em;
	list-style: none;
}

#winnings_pullout ul li p {
	margin: 4px 0px;
	color: white;
}

#winnings_pullout ul li .ball {
	border-radius: 50px;
	background: purple;
	color: white;
	display: inline-block;
	padding: 1px 8px;
	margin: 3px;
}

.balances_panel_body {
	margin: 0px;
	padding: 0px;
	background: hsl(288, 100%, 18%);
	background-image: linear-gradient(#9b00c1, #49005b);
	background-image: -o-linear-gradient(top, #9b00c1, #49005b);
	background-image: -webkit-linear-gradient(top, #9b00c1, #49005b);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9b00c1), color-stop(100%, #49005b));
}

.balances {
	margin: 0px;
	padding: 0px;
}

.balances ul {
	list-style: none;
	margin: 0px;
	padding: 20px 0px;
}

.balances ul li {
	list-style: none;
	text-align: center;
	padding: 10px;
}

.balances ul li strong {
	color: #fdc217;
	font-weight: bold;
	font-size: 18px;
}

.balances ul li p{
	color: white;
	font-size: 16px;
}

.balances ul li .header {
	font-weight: bold;
	font-size: 22px;
}

#header{
	height: 180px;
	width: 100%;
	border-bottom: 5px solid #b60da5;
	-webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3);
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3);
}

#header #todays_wins {
	font-family: 'Rockwell';
	width: 195px;
	background: #620057 url(../images/todayswinning.png) no-repeat center 70px;
	padding: 15px 10px;
	margin-top: 30px;
	text-align: center;
	color: #ffdf51;
	font-size: 18px;
	height: 125px;
}

#header .get_p {
	line-height: 18px;
	margin: 0;
	text-transform: uppercase;
	margin-bottom: 7px;
}

#header .pr_items {
	background: url(../images/casino_win.jpg) repeat-x top;
	color: #8e0981;
	border-left: 2px solid #856d2c;
	display: inline-block;
	text-align: center;
	font-size: 26px;
	padding: 0 5px;
}

#header #logo{
	height: 161px;
	z-index: 1;
}

#header #loggedin, #header #login {
	padding: 5px;
	display: inline-block;
	width: auto;
	height: 65px;
	margin-top: 8px;
	vertical-align: middle;
	text-align: center;
	background: url(../images/logbg.png);
	background: #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	-webkit-box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.5);
	box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.5);
	color: #333;
}

/* Navbar Mods */

#nav_contain {
	text-align: center;
	font-family: 'Droid Sans Bold';
	font-size: 16px;
}

.navbar{
	margin-bottom: 3px;
	margin-bottom: 7px;
}

.icon-bar{
	background-color: #888;
}

.navbar-collapse.in {
    overflow-y: visible;
}

ul.nav.nav-pills.head-menu.nav-stacked>li>a{
	color: hsl(288, 100%, 18%) !important;
}

.navbar .navbar-header{
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0px;
}

.navbar-header{
	background-color: hsl(288, 100%, 18%) !important;
	color: white !important;
}

.navbar-collapse {
	color: hsl(288, 100%, 18%) !important;
	background-color: white;
	border: none !important;
	margin: 0px;
}

@media (min-width: 768px) {
	.navbar {
		background: transparent;
		border: none;
		margin: 0px;
	}
	.navbar-collapse {
		background-color: transparent !important;
		border: none !important;
		margin: 0px;
	}
}

#main_menu ul {
	display: inline-block;
	margin: 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color: hsl(288, 100%, 18%) !important;
	color: white !important;
}




/* http://charliepark.org/bootstrap_buttons/ */
.btn-primary {
	background-color: hsl(288, 100%, 18%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9b00c1", endColorstr="#49005b");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#9b00c1), to(#49005b));
	background-image: -moz-linear-gradient(top, #9b00c1, #49005b);
	background-image: -ms-linear-gradient(top, #9b00c1, #49005b);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9b00c1), color-stop(100%, #49005b));
	background-image: -webkit-linear-gradient(top, #9b00c1, #49005b);
	background-image: -o-linear-gradient(top, #9b00c1, #49005b);
	background-image: linear-gradient(#9b00c1, #49005b);
	border-color: #49005b #49005b hsl(288, 100%, 13%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}

/* http://charliepark.org/bootstrap_buttons/ */
.btn-magenta {
	background-color: hsl(305, 100%, 24%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5bf1", endColorstr="#7a0070");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ff5bf1), to(#7a0070));
	background-image: -moz-linear-gradient(top, #ff5bf1, #7a0070);
	background-image: -ms-linear-gradient(top, #ff5bf1, #7a0070);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff5bf1), color-stop(100%, #7a0070));
	background-image: -webkit-linear-gradient(top, #ff5bf1, #7a0070);
	background-image: -o-linear-gradient(top, #ff5bf1, #7a0070);
	background-image: linear-gradient(#ff5bf1, #7a0070);
	border-color: #7a0070 #7a0070 hsl(305, 100%, 13%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.72);
	-webkit-font-smoothing: antialiased;
}

#login_text{
	padding-top: 4px;
	font-size: 11px;
}

#loggedin a, #login a{
	color: #b60da5;
}

#loggedin a {
	font-weight: bold;
}

#wrapper{
	border:6px solid #e3e3e3;
	background: white;
	-webkit-box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.5);
	box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.5);
	min-height: 500px;
	margin-bottom: 40px;
}

.carousel-image{
	width: 100%;
	height: 100%;
}

.cursor-pointer{
	cursor: pointer;
}

#slider{
	padding:4px;
	background:#fff;
	-webkit-box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.5);
	box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.5);
	position:relative;
	z-index:5
}
 
 .fancy-border{
	padding:4px;
	background:#fff;
	-webkit-box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.5);
	box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.5);
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
 
 /* xs */
.testimonials{
	width: 32%;
	height: auto;
	padding: 15px;
	background:url(../images/test_bg.png);
	position:absolute;
	top:6;
	left:6;	
	z-index:99;
	color:#fff;
}
.testimonials p{
	margin: 5px 0;
	font-family: 'Droid Sans';
	font-size: 10px;
}

@media (min-width: 992px) {
	/* sm */
	.testimonials p{
		font-size: 12.5px;
	}
	.testimonials{
		width: 30%;
	}
}
@media (min-width: 1200px) {
	/* lg */
	.testimonials p{
		font-size: 14px;
	}
	.testimonials{
		width: 27%;
	}
}

.quote_lft{
	background: url(../images/quotez.png) no-repeat left top;
	padding-left: 24px;
}

.quote_rgt{
	background: url(../images/quotex.png) no-repeat right top;
	padding-right: 23px;
}

.name_t{
	color: #ffdf51;
	font-weight: bold;
	text-align: right;
}


/* tab styling */

.nav.nav-tabs>li.active>a{
	border: 1px solid hsl(288, 100%, 18%);
	border-bottom-color: transparent;
}

.nav-tabs {
	border-bottom: 1px solid hsl(288, 100%, 18%);
}

.nav.nav-tabs>li:hover>a {
	border: 1px solid hsl(288, 100%, 18%);
	border-bottom-color: transparent;
}


/* panel styling */

.panel-default>.panel-heading{
	background-color: hsl(288, 100%, 18%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9b00c1", endColorstr="#49005b");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#9b00c1), to(#49005b));
	background-image: -moz-linear-gradient(top, #9b00c1, #49005b);
	background-image: -ms-linear-gradient(top, #9b00c1, #49005b);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9b00c1), color-stop(100%, #49005b));
	background-image: -webkit-linear-gradient(top, #9b00c1, #49005b);
	background-image: -o-linear-gradient(top, #9b00c1, #49005b);
	background-image: linear-gradient(#9b00c1, #49005b);
	border-color: #49005b #49005b hsl(288, 100%, 13%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}

.panel-default {
	border-color:  hsl(288, 100%, 18%);
}

#autohide_games_contain{
	margin-top: -40px;
}



/* Banner Text */
#header_banner{
	font-size: 40px;
	color:#333;
	text-shadow: 1px 1px 8px #fff;
	font-family: Rockwell_b;
	font-weight: 800;
	-webkit-text-stroke: 1px #631009;
	text-transform: uppercase;
}

#header_banner .h1_subtxt{
	font-size: 14px;
}

#header_banner .h1_subtxt .h1_subtxt2{
	color: #950a87;
	font-size: 40px;
}

/* Responsible Way To Play */
.bigtxt{
	font-size: 35px;
	color: #950a87;
	font-family: Rockwell_b;
}

/* Footer */
#footer_wrapper{
	background-color:black;
	padding: 20px;
}

#footer h2{
	color: #fff;
	font-family: 'Rockwell';
	font-size: 20px;
}

#footer ul{
	list-style: none;
	padding: 0;
	margin: 0px 0;
}

#footer ul li{
	display: list-item;
	text-align: -webkit-match-parent;
}

#footer ul li a{
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration: none;
	display: block;
}

#footer ul li a:hover{
	color: #b60da5;
}

.thumbnail{
    position:relative;
    overflow:hidden;
}
.thumbnail-caption{
    position:absolute;
    top:0;
    right:0;
    background: rgba(168, 164, 210, 0.65);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
  