/* liScroll styles */
.tickercontainer { /* the outer div */
width: 100%; 
height: 50px; 
margin: 0; 
padding: 0;
overflow: hidden;
margin-top:10px;
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
height: 50px; 
position: relative;
padding-left: 10px;
padding-right: 10px;
top: 8px;
/*width: 718px;*/
overflow: hidden;
}
ul.newsticker { /* that's your list */
/*Transitions have been added in order set css3 transitions; and have linear easing. Changing these lines you might have unexpected results */
-webkit-transition: all 0s linear;
-moz-transition: all 0s linear;
-o-transition: all 0s linear;
transition: all 0s linear;
position: relative;
margin-left: 20px;
list-style-type: none;
font-size: 30px;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding-right: 15px;
/*background: #fff;*/
}
ul.newsticker a {
white-space: nowrap;
padding: 0;
color: #ff0000;
margin: 0 50px 0 0;
} 
ul.newsticker span {
margin: 0 10px 0 0;
} 

#webticker2{
	float:right;
}

#webticker2 li {
float: right; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding-left: 15px;
/*background: #fff;*/
}