* {
	margin: 0;
	padding: 0;
}


.header {
	padding: 10px;
}
.main_title {
	background: #cccccc;
	color: #ffffff;
	padding: 10px;
	font-size: 20px;
	line-height: 20px;
}
.content {
	padding: 50px 10px 10px 10px;
	min-height: 100px;
	text-align: center;
}
.upload_btn {
	background: #cccccc;
	color: #333333;
	border: 1px solid #999999;
	border-radius: 10px;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	display: inline-block;
	padding: 0 10px 0 10px;
	cursor: pointer;
}
#photo_container {}
.upload_btn:hover {
	background: #eaeaea;
}
/* footer --------------------------*/
.footer {
	padding: 10px;
	text-align: right;
}
.footer a {
	color: #999999;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}

/* popup --------------------------*/
#popup_upload,
#popup_crop,#popup_webcam,#popup_video_recorder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	text-align: center;
	display: none;
	overflow: auto;
}
.form_upload {
	width: 450px;
	height: 180px;
	border: 1px solid #999999;
	border-radius: 10px;
	background: #ffffff;
	color: #666666;
	margin: auto;
	margin-top: 160px;
	padding: 10px;
	text-align: left;
	position: relative;
}
.form_upload h2 {
	border-bottom: 1px solid #999999;
	padding: 0 0 5px 0;
	margin: 0 0 20px 0;
}
.upload_frame {
	width: 0;
	height: 0;
	display: none;
}
.file_input {
	width: 97%;
	background: #eaeaea;
	border: 1px solid #999999;
	border-radius: 5px;
	color: #333333;
	padding: 1%;
	margin: 0 0 20px 0;
}
#upload_btn {
	background: #cccccc;
	color: #333333;
	border: 1px solid #999999;
	border-radius: 10px;
	float: right;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	font-family: arial;
	display: block;
	padding: 5px;
	cursor: pointer;
}
#upload_btn:hover {
	background: #eaeaea;
}
.close {
    position: absolute;
    display: block;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    line-height: 16px;
    width: 18px;
    height: 18px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #F0F0F0;
    text-align: center;
    font-weight: bold;
}
.close:hover {
    background: #cccccc;
}
#loading_progress {
    float: left;
    line-height: 18px;
    padding: 8px 0 0 0;
}
#loading_progress img {
    float: left;
    margin: 0 5px 0 0;
    width: 16px !important;
}
.form_crop {
	width: auto;
	height: auto;
	display: inline-block;
	border: 1px solid #999999;
	border-radius: 10px;
	background: #ffffff;
	color: #666666;
	margin: auto;
	margin-top: 40px;
	padding: 10px;
	text-align: left;
	position: relative;
}
.form_crop h2 {
	border-bottom: 1px solid #999999;
	padding: 0 0 5px 0;
	margin: 0 0 20px 0;
}
#target {
	background-color: #ccc;
	width: 500px;
	height: 330px;
	font-size: 24px;
	display: block;
}
#crop_btn {
	background: #cccccc;
	color: #333333;
	border: 1px solid #999999;
	border-radius: 10px;
	float: right;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	font-family: arial;
	display: block;
	padding: 5px;
	margin: 10px 0 0 0;
	cursor: pointer;
}
#crop_btn:hover {
	background: #eaeaea;
}
.header { background: #fff;}
.head-right {height:100pt;border:1px solid black;}/*background: #AD4230;*/
/*.head-left {background: #fff; border:1px solid black;}*/
.center-center {background: #2C7BAB; height:500pt; border:1px solid #fff;}
.center-right {background: #fff; height:500pt; border:1px solid #d3d3d3;}
.center-left {background: black; height:500pt;}
.center-left-1 {background: #C39719; height:10%; border:2px solid #fff;}
.center-left-2 {background: #319944; height:15%; border:2px solid #fff;}
.center-left-3 {background: #DE6A0F; height:15%; border:2px solid #fff;}
.center-left-4 {background: #744D72; height:60%; border:2px solid #fff;}
.btn-custom {width:49%;}


#webcam, #canvas {
 width: 360px;
 border:20px solid #333;
 background:#eee;
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
}

#webcam {
 position:relative;
 margin-top:50px;
 margin-bottom:50px;
}

#webcam > span {
 z-index:2;
 position:absolute;
 color:#eee;
 font-size:10px;
 bottom: -16px;
 left:152px;
}

#webcam > img {
 z-index:1;
 position:absolute;
 border:0px none;
 padding:0px;
 bottom:-40px;
 left:89px;
}

#webcam > div {
 border:5px solid #333;
 position:absolute;
 right:-90px;
 padding:5px;
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
 cursor:pointer;
}

#webcam a {
 background:#fff;
 font-weight:bold;
}

#webcam a > img {
 border:0px none;
}

#canvas {
 border:20px solid #ccc;
 background:#eee;
}

#flash {
 position:absolute;
 top:0px;
 left:0px;
 z-index:5000;
 width:100%;
 height:500px;
 background-color:#c00;
 display:none;
}
object {
 display:block; /* HTML5 fix */
 position:relative;
 z-index:1000;
}

.wrapper {	
  margin-top: 80px;
  margin-bottom: 80px;
}
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}
.form-signin-heading,.checkbox {
	margin-bottom: 30px;
}
.checkbox {
	font-weight: normal;
}
.form-control {
	margin-bottom: 10px;
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
		@include box-sizing(border-box);
		&:focus {
		  z-index: 2;
		}
	}
#video_container{margin: 11px 0 0 20px;}
#recordNewButton{margin-top:20px;}
.bounce {
  -webkit-animation:bounce 1s infinite; /* Chrome, Safari, Opera */
  animation: bounce 1s linear 2s infinite alternate;/* Standard syntax */
}
/* Chrome, Safari, Opera */
@-webkit-keyframes bounce {
  0%{
    left:5px;
  }
  25%, 75% {
    left:15px;
  }
  50% {
    left:20px;
  }
  100% {
    left:0;
  }
}
/* Standard syntax */
@keyframes bounce {
  0%{
    left:5px;
  }
  25%, 75% {
    left:15px;
  }
  50% {
    left:20px;
  }
  100% {
    left:0;
  }
}
.bounce-digonal {
  -webkit-animation:bounce 1s infinite; /* Chrome, Safari, Opera */
  animation: bounce 1s linear 2s infinite alternate;/* Standard syntax */
}
/* Chrome, Safari, Opera */
@-webkit-keyframes bounce-digonal {
  0%{
	top:5px;
  }
  25%, 75% {
    top:15px;
  }
  50% {
    top:20px;
  }
  100% {
    top:0;
  }
}
/* Standard syntax */
@keyframes bounce-digonal {
  0%{
    left:5px;
    top:5px;
  }
  25%, 75% {
    left:15px;
    top:15px;
  }
  50% {
    left:20px;
    top:20px;
  }
  100% {
    left:0;
    top:0;
  }
}
.checkbox-inline.no_indent,
.checkbox-inline.no_indent+.checkbox-inline.no_indent {
  margin-left: 0;
  margin-right: 10px;
}
.checkbox-inline.no_indent:last-child {
  margin-right: 0;
}
