.pick_number_row{
	height: 64px;
	vertical-align: middle;
}
.growing-ball-container{
	line-height: 64px;
	width: 64px;
	height: 64px;
	float: left;
	text-align: center;
}
.ball-container{
	float: left;
}
.ball{
	display: inline-block;
	vertical-align: middle;
	background-size: 100% 100%;
	margin: 0 auto;
}
.ball-sm{
	width: 32px;
	height: 32px;
}
.ball-lg{
	width: 64px;
	height: 64px;
}
.ball-xl{
	width: 90px;
	height: 90px;
}
.ball-reds{
	width: 62px;
	height: 90px;
}
.ball-totals{
	width: 62px;
	height: 90px;
}
.ball-1{
	background-image: url("/rapidballs/images/new/01.png");
}
.ball-2{
	background-image: url("/rapidballs/images/new/02.png");
}
.ball-3{
	background-image: url("/rapidballs/images/new/03.png");
}
.ball-4{
	background-image: url("/rapidballs/images/new/04.png");
}
.ball-5{
	background-image: url("/rapidballs/images/new/05.png");
}
.ball-6{
	background-image: url("/rapidballs/images/new/06.png");
}
.ball-7{
	background-image: url("/rapidballs/images/new/07.png");
}
.ball-8{
	background-image: url("/rapidballs/images/new/08.png");
}
.ball-9{
	background-image: url("/rapidballs/images/new/09.png");
}
.ball-10{
	background-image: url("/rapidballs/images/new/10.png");
}
.ball-11{
	background-image: url("/rapidballs/images/new/11.png");
}
.ball-12{
	background-image: url("/rapidballs/images/new/12.png");
}
.ball-13{
	background-image: url("/rapidballs/images/new/13.png");
}
.ball-14{
	background-image: url("/rapidballs/images/new/14.png");
}
.ball-15{
	background-image: url("/rapidballs/images/new/15.png");
}
.ball-16{
	background-image: url("/rapidballs/images/new/16.png");
}
.ball-17{
	background-image: url("/rapidballs/images/new/17.png");
}
.ball-18{
	background-image: url("/rapidballs/images/new/18.png");
}
.ball-19{
	background-image: url("/rapidballs/images/new/19.png");
}
.ball-20{
	background-image: url("/rapidballs/images/new/20.png");
}
.ball-21{
	background-image: url("/rapidballs/images/new/21.png");
}
.ball-22{
	background-image: url("/rapidballs/images/new/22.png");
}
.ball-23{
	background-image: url("/rapidballs/images/new/23.png");
}
.ball-24{
	background-image: url("/rapidballs/images/new/24.png");
}
.ball-25{
	background-image: url("/rapidballs/images/new/25.png");
}
.ball-26{
	background-image: url("/rapidballs/images/new/26.png");
}
.ball-27{
	background-image: url("/rapidballs/images/new/27.png");
}
.ball-28{
	background-image: url("/rapidballs/images/new/28.png");
}
.ball-29{
	background-image: url("/rapidballs/images/new/29.png");
}
.ball-30{
	background-image: url("/rapidballs/images/new/30.png");
}
.ball-31{
	background-image: url("/rapidballs/images/new/31.png");
}
.ball-32{
	background-image: url("/rapidballs/images/new/32.png");
}
.ball-33{
	background-image: url("/rapidballs/images/new/33.png");
}
.ball-34{
	background-image: url("/rapidballs/images/new/34.png");
}
.ball-35{
	background-image: url("/rapidballs/images/new/35.png");
}
.ball-36{
	background-image: url("/rapidballs/images/new/36.png");
}
.ball-37{
	background-image: url("/rapidballs/images/new/37.png");
}
.ball-38{
	background-image: url("/rapidballs/images/new/38.png");
}
.ball-39{
	background-image: url("/rapidballs/images/new/39.png");
}
.ball-40{
	background-image: url("/rapidballs/images/new/40.png");
}
.ball-41{
	background-image: url("/rapidballs/images/new/41.png");
}
.ball-42{
	background-image: url("/rapidballs/images/new/42.png");
}
.ball-43{
	background-image: url("/rapidballs/images/new/43.png");
}
.ball-44{
	background-image: url("/rapidballs/images/new/44.png");
}
.ball-45{
	background-image: url("/rapidballs/images/new/45.png");
}
.ball-46{
	background-image: url("/rapidballs/images/new/46.png");
}
.ball-47{
	background-image: url("/rapidballs/images/new/47.png");
}
.ball-48{
	background-image: url("/rapidballs/images/new/48.png");
}
.ball-49{
	background-image: url("/rapidballs/images/new/49.png");
}
.ball-1-grey{
	background-image: url("/rapidballs/images/ball_01_grey.gif");
}
.ball-2-grey{
	background-image: url("/rapidballs/images/ball_02_grey.gif");
}
.ball-3-grey{
	background-image: url("/rapidballs/images/ball_03_grey.gif");
}
.ball-4-grey{
	background-image: url("/rapidballs/images/ball_04_grey.gif");
}
.ball-5-grey{
	background-image: url("/rapidballs/images/ball_05_grey.gif");
}
.ball-6-grey{
	background-image: url("/rapidballs/images/ball_06_grey.gif");
}
.ball-7-grey{
	background-image: url("/rapidballs/images/ball_07_grey.gif");
}
.ball-8-grey{
	background-image: url("/rapidballs/images/ball_08_grey.gif");
}
.ball-9-grey{
	background-image: url("/rapidballs/images/ball_09_grey.gif");
}
.ball-10-grey{
	background-image: url("/rapidballs/images/ball_10_grey.gif");
}
.ball-11-grey{
	background-image: url("/rapidballs/images/ball_11_grey.gif");
}
.ball-12-grey{
	background-image: url("/rapidballs/images/ball_12_grey.gif");
}
.ball-13-grey{
	background-image: url("/rapidballs/images/ball_13_grey.gif");
}
.ball-14-grey{
	background-image: url("/rapidballs/images/ball_14_grey.gif");
}
.ball-15-grey{
	background-image: url("/rapidballs/images/ball_15_grey.gif");
}
.ball-16-grey{
	background-image: url("/rapidballs/images/ball_16_grey.gif");
}
.ball-17-grey{
	background-image: url("/rapidballs/images/ball_17_grey.gif");
}
.ball-18-grey{
	background-image: url("/rapidballs/images/ball_18_grey.gif");
}
.ball-19-grey{
	background-image: url("/rapidballs/images/ball_19_grey.gif");
}
.ball-20-grey{
	background-image: url("/rapidballs/images/ball_20_grey.gif");
}
.ball-21-grey{
	background-image: url("/rapidballs/images/ball_21_grey.gif");
}
.ball-22-grey{
	background-image: url("/rapidballs/images/ball_22_grey.gif");
}
.ball-23-grey{
	background-image: url("/rapidballs/images/ball_23_grey.gif");
}
.ball-24-grey{
	background-image: url("/rapidballs/images/ball_24_grey.gif");
}
.ball-25-grey{
	background-image: url("/rapidballs/images/ball_25_grey.gif");
}
.ball-26-grey{
	background-image: url("/rapidballs/images/ball_26_grey.gif");
}
.ball-27-grey{
	background-image: url("/rapidballs/images/ball_27_grey.gif");
}
.ball-28-grey{
	background-image: url("/rapidballs/images/ball_28_grey.gif");
}
.ball-29-grey{
	background-image: url("/rapidballs/images/ball_29_grey.gif");
}
.ball-30-grey{
	background-image: url("/rapidballs/images/ball_30_grey.gif");
}
.ball-31-grey{
	background-image: url("/rapidballs/images/ball_31_grey.gif");
}
.ball-32-grey{
	background-image: url("/rapidballs/images/ball_32_grey.gif");
}
.ball-33-grey{
	background-image: url("/rapidballs/images/ball_33_grey.gif");
}
.ball-34-grey{
	background-image: url("/rapidballs/images/ball_34_grey.gif");
}
.ball-35-grey{
	background-image: url("/rapidballs/images/ball_35_grey.gif");
}
.ball-36-grey{
	background-image: url("/rapidballs/images/ball_36_grey.gif");
}
.ball-37-grey{
	background-image: url("/rapidballs/images/ball_37_grey.gif");
}
.ball-38-grey{
	background-image: url("/rapidballs/images/ball_38_grey.gif");
}
.ball-39-grey{
	background-image: url("/rapidballs/images/ball_39_grey.gif");
}
.ball-40-grey{
	background-image: url("/rapidballs/images/ball_40_grey.gif");
}
.ball-41-grey{
	background-image: url("/rapidballs/images/ball_41_grey.gif");
}
.ball-42-grey{
	background-image: url("/rapidballs/images/ball_42_grey.gif");
}
.ball-43-grey{
	background-image: url("/rapidballs/images/ball_43_grey.gif");
}
.ball-44-grey{
	background-image: url("/rapidballs/images/ball_44_grey.gif");
}
.ball-45-grey{
	background-image: url("/rapidballs/images/ball_45_grey.gif");
}
.ball-46-grey{
	background-image: url("/rapidballs/images/ball_46_grey.gif");
}
.ball-47-grey{
	background-image: url("/rapidballs/images/ball_47_grey.gif");
}
.ball-48-grey{
	background-image: url("/rapidballs/images/ball_48_grey.gif");
}
.ball-49-grey{
	background-image: url("/rapidballs/images/ball_49_grey.gif");
}
.ball-grey-color{
	background-image: url("/rapidballs/images/new/color_01_grey.png");
}
.ball-1-color{
	background-image: url("/rapidballs/images/new/color_21_over.png");
}
.ball-2-color{
	background-image: url("/rapidballs/images/new/color_01_over.png");
}
.ball-3-color{
	background-image: url("/rapidballs/images/new/color_02_over.png");
}
.ball-4-color{
	background-image: url("/rapidballs/images/new/color_03_over.png");
}
.ball-5-color{
	background-image: url("/rapidballs/images/new/color_04_over.png");
}
.ball-6-color{
	background-image: url("/rapidballs/images/new/color_22_over.png");
}
.ball-7-color{
	background-image: url("/rapidballs/images/new/color_05_over.png");
}
.ball-8-color{
	background-image: url("/rapidballs/images/new/color_06_over.png");
}
.ball-9-color{
	background-image: url("/rapidballs/images/new/color_07_over.png");
}
.ball-10-color{
	background-image: url("/rapidballs/images/new/color_08_over.png");
}
.ball-11-color{
	background-image: url("/rapidballs/images/new/color_23_over.png");
}
.ball-12-color{
	background-image: url("/rapidballs/images/new/color_09_over.png");
}
.ball-13-color{
	background-image: url("/rapidballs/images/new/color_10_over.png");
}
.ball-14-color{
	background-image: url("/rapidballs/images/new/color_11_over.png");
}
.ball-15-color{
	background-image: url("/rapidballs/images/new/color_12_over.png");
}
.ball-16-color{
	background-image: url("/rapidballs/images/new/color_24_over.png");
}
.ball-17-color{
	background-image: url("/rapidballs/images/new/color_13_over.png");
}
.ball-18-color{
	background-image: url("/rapidballs/images/new/color_14_over.png");
}
.ball-19-color{
	background-image: url("/rapidballs/images/new/color_15_over.png");
}
.ball-20-color{
	background-image: url("/rapidballs/images/new/color_16_over.png");
}
.ball-21-color{
	background-image: url("/rapidballs/images/new/color_25_over.png");
}
.ball-22-color{
	background-image: url("/rapidballs/images/new/color_17_over.png");
}
.ball-23-color{
	background-image: url("/rapidballs/images/new/color_18_over.png");
}
.ball-24-color{
	background-image: url("/rapidballs/images/new/color_19_over.png");
}
.ball-25-color{
	background-image: url("/rapidballs/images/new/color_20_over.png");
}
.ball-grey-lucky{
	background-image: url("/rapidballs/images/lucky_01_grey.gif");
}
.ball-grey-reds{
	background-image: url("/rapidballs/images/new/Red_01_grey.png");
}
.ball-1-reds{
	background-image: url("/rapidballs/images/new/Red_01.png");
}
.ball-2-reds{
	background-image: url("/rapidballs/images/new/Red_02.png");
}
.ball-3-reds{
	background-image: url("/rapidballs/images/new/Red_03.png");
}
.ball-4-reds{
	background-image: url("/rapidballs/images/new/Red_04.png");
}
.ball-1-reds:hover{
	background-image: url("/rapidballs/images/new/Red_01.png");
}
.ball-2-reds:hover{
	background-image: url("/rapidballs/images/new/Red_02.png");
}
.ball-3-reds:hover{
	background-image: url("/rapidballs/images/new/Red_03.png");
}
.ball-4-reds:hover{
	background-image: url("/rapidballs/images/new/Red_04.png");
}
.ball-grey-total{
	background-image: url("/rapidballs/images/new/total_01_grey.png");
}
.ball-1-total{
	background-image: url("/rapidballs/images/new/total_01sm.png");
}
.ball-2-total{
	background-image: url("/rapidballs/images/new/total_02sm.png");
}
.ball-3-total{
	background-image: url("/rapidballs/images/new/total_03sm.png");
}
.ball-4-total{
	background-image: url("/rapidballs/images/new/total_04sm.png");
}
.ball-5-total{
	background-image: url("/rapidballs/images/new/total_05sm.png");
}
.ball-1-total:hover{
	background-image: url("/rapidballs/images/new/total_01.png");
}
.ball-2-total:hover{
	background-image: url("/rapidballs/images/new/total_02.png");
}
.ball-3-total:hover{
	background-image: url("/rapidballs/images/new/total_03.png");
}
.ball-4-total:hover{
	background-image: url("/rapidballs/images/new/total_04.png");
}
.ball-5-total:hover{
	background-image: url("/rapidballs/images/new/total_05.png");
}
.ball-1-lucky{
	background-image: url("/rapidballs/images/lucky_01.gif");
}
.ball-2-lucky{
	background-image: url("/rapidballs/images/lucky_02.gif");
}
.ball-3-lucky{
	background-image: url("/rapidballs/images/lucky_03.gif");
}
.ball-4-lucky{
	background-image: url("/rapidballs/images/lucky_04.gif");
}
.ball-5-lucky{
	background-image: url("/rapidballs/images/lucky_05.gif");
}
.ball-6-lucky{
	background-image: url("/rapidballs/images/lucky_06.gif");
}
.ball-7-lucky{
	background-image: url("/rapidballs/images/lucky_07.gif");
}
.ball-8-lucky{
	background-image: url("/rapidballs/images/lucky_08.gif");
}
.ball-9-lucky{
	background-image: url("/rapidballs/images/lucky_09.gif");
}
.ball-10-lucky{
	background-image: url("/rapidballs/images/lucky_10.gif");
}
.ball-11-lucky{
	background-image: url("/rapidballs/images/lucky_11.gif");
}
.ball-12-lucky{
	background-image: url("/rapidballs/images/lucky_12.gif");
}
.ball-13-lucky{
	background-image: url("/rapidballs/images/lucky_13.gif");
}
.ball-14-lucky{
	background-image: url("/rapidballs/images/lucky_14.gif");
}
.ball-15-lucky{
	background-image: url("/rapidballs/images/lucky_15.gif");
}
.ball-16-lucky{
	background-image: url("/rapidballs/images/lucky_16.gif");
}
.ball-17-lucky{
	background-image: url("/rapidballs/images/lucky_17.gif");
}
.ball-18-lucky{
	background-image: url("/rapidballs/images/lucky_18.gif");
}
.ball-19-lucky{
	background-image: url("/rapidballs/images/lucky_19.gif");
}
.ball-1-lucky:hover{
	background-image: url("/rapidballs/images/lucky_01_over.gif");
}
.ball-2-lucky:hover{
	background-image: url("/rapidballs/images/lucky_02_over.gif");
}
.ball-3-lucky:hover{
	background-image: url("/rapidballs/images/lucky_03_over.gif");
}
.ball-4-lucky:hover{
	background-image: url("/rapidballs/images/lucky_04_over.gif");
}
.ball-5-lucky:hover{
	background-image: url("/rapidballs/images/lucky_05_over.gif");
}
.ball-6-lucky:hover{
	background-image: url("/rapidballs/images/lucky_06_over.gif");
}
.ball-7-lucky:hover{
	background-image: url("/rapidballs/images/lucky_07_over.gif");
}
.ball-8-lucky:hover{
	background-image: url("/rapidballs/images/lucky_08_over.gif");
}
.ball-9-lucky:hover{
	background-image: url("/rapidballs/images/lucky_09_over.gif");
}
.ball-10-lucky:hover{
	background-image: url("/rapidballs/images/lucky_10_over.gif");
}
.ball-11-lucky:hover{
	background-image: url("/rapidballs/images/lucky_11_over.gif");
}
.ball-12-lucky:hover{
	background-image: url("/rapidballs/images/lucky_12_over.gif");
}
.ball-13-lucky:hover{
	background-image: url("/rapidballs/images/lucky_13_over.gif");
}
.ball-14-lucky:hover{
	background-image: url("/rapidballs/images/lucky_14_over.gif");
}
.ball-15-lucky:hover{
	background-image: url("/rapidballs/images/lucky_15_over.gif");
}
.ball-16-lucky:hover{
	background-image: url("/rapidballs/images/lucky_16_over.gif");
}
.ball-17-lucky:hover{
	background-image: url("/rapidballs/images/lucky_17_over.gif");
}
.ball-18-lucky:hover{
	background-image: url("/rapidballs/images/lucky_18_over.gif");
}
.ball-19-lucky:hover{
	background-image: url("/rapidballs/images/lucky_19_over.gif");
}
