.recent-drawing-group{
	display: inline-block;
}

#lotto-pick-balls{
	margin-top: 20px;
}
#lotto-pick-form{
	margin-top: 20px;
}
.xl-block-container{
	display: inline-block;
	height: 90px;
}
.center{
	text-align: center;
}
.total-container{
	padding: 0px 10px;
}
.lucky-container{
	padding: 0px 10px;
}
.reds-container{
	padding: 0px 10px;
}
.lotto-ball-container{
	width: 10%;
}
.color-ball-container{
	width: 20%;
}
