body{
	font-family: 'Droid Sans Bold';
	color: #2f2b2f;
	font-weight: 400;
	padding: 2px !important;
	margin: 0px !important;
	background-image: url("../img/background.jpg");
	background-color: black no-repeat center top;
}
	
.shift_information table.table.table-bordered tbody tr td{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	color: white;
}

.newsticker li{
	color: white;
}

html, body, .scroll_container {
    height: 100%;
	width: 100%;
}

.scroll_container:before{
	content: '';
	height: 100%;
	float: left;
}

.scroll_inner {
    position: relative;
    z-index: 1;
}

.scroll_inner:after{
	content: '';
	clear: both;
	display: block;
}

.scroll_content{
    position: absolute;
    width: 95%;
    height: 96%;
    overflow: auto;
}

a{
	color: #551A8B;
}

a:hover{
	color: rgba(85, 26, 139, 0.78);
}

@media (min-width: 1900px) {
	/* fix to scale background on screens larger than background image */
	body {
		background-size: 100%;
	}
}

@font-face {
    font-family: 'Droid Sans';
        src: url('/fonts/droidsans_regular/DroidSans-webfont.eot'); /* IE9 Compat Modes */
        src: url('/fonts/droidsans_regular/DroidSans-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/droidsans_regular/DroidSans-webfont.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/droidsans_regular/DroidSans-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/droidsans_regular/DroidSans-webfont.svg#svgDroidSans') format('svg'); /* Legacy iOS */
}
 
/* the fix ! simply ADD this block BELOW the above block */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Droid Sans';
            src: url('/fonts/droidsans_regular/DroidSans-webfont.svg#svgDroidSans') format('svg');
    }
}

@font-face {
    font-family: 'Droid Sans Bold';
        src: url('/fonts/droidsans_bold/DroidSans-Bold-webfont.eot'); /* IE9 Compat Modes */
        src: url('/fonts/droidsans_bold/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/droidsans_bold/DroidSans-Bold-webfont.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/droidsans_bold/DroidSans-Bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/droidsans_bold/DroidSans-Bold-webfont.svg#svgDroidSansBold') format('svg'); /* Legacy iOS */
}
 
/* the fix ! simply ADD this block BELOW the above block */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Droid Sans';
            src: url('/fonts/droidsans_bold/DroidSans-Bold-webfont.svg#svgDroidSansBold') format('svg');
    }
}

.large-panel-scroll{
	max-height: 500px;
	overflow-y: scroll;
}

/* http://charliepark.org/bootstrap_buttons/ */
.btn-primary {
	background-color: hsl(288, 100%, 18%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9b00c1", endColorstr="#49005b");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#9b00c1), to(#49005b));
	background-image: -moz-linear-gradient(top, #9b00c1, #49005b);
	background-image: -ms-linear-gradient(top, #9b00c1, #49005b);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9b00c1), color-stop(100%, #49005b));
	background-image: -webkit-linear-gradient(top, #9b00c1, #49005b);
	background-image: -o-linear-gradient(top, #9b00c1, #49005b);
	background-image: linear-gradient(#9b00c1, #49005b);
	border-color: #49005b #49005b hsl(288, 100%, 13%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}

/* http://charliepark.org/bootstrap_buttons/ */
.btn-magenta {
	background-color: hsl(305, 100%, 24%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5bf1", endColorstr="#7a0070");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ff5bf1), to(#7a0070));
	background-image: -moz-linear-gradient(top, #ff5bf1, #7a0070);
	background-image: -ms-linear-gradient(top, #ff5bf1, #7a0070);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff5bf1), color-stop(100%, #7a0070));
	background-image: -webkit-linear-gradient(top, #ff5bf1, #7a0070);
	background-image: -o-linear-gradient(top, #ff5bf1, #7a0070);
	background-image: linear-gradient(#ff5bf1, #7a0070);
	border-color: #7a0070 #7a0070 hsl(305, 100%, 13%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.72);
	-webkit-font-smoothing: antialiased;
}

/* tab styling */

.nav.nav-tabs>li.active>a{
	border: 1px solid hsl(288, 100%, 18%);
	border-bottom-color: transparent;
}

.nav-tabs {
	border-bottom: 1px solid hsl(288, 100%, 18%);
}

.nav.nav-tabs>li:hover>a {
	border: 1px solid hsl(288, 100%, 18%);
	border-bottom-color: transparent;
}

.btn.btn-primary.active {
   background-image: none !important;
   background-color: #3071a9 !important;
}

/* panel styling */

.panel-default>.panel-heading{
	background-color: hsl(288, 100%, 18%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9b00c1", endColorstr="#49005b");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#9b00c1), to(#49005b));
	background-image: -moz-linear-gradient(top, #9b00c1, #49005b);
	background-image: -ms-linear-gradient(top, #9b00c1, #49005b);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9b00c1), color-stop(100%, #49005b));
	background-image: -webkit-linear-gradient(top, #9b00c1, #49005b);
	background-image: -o-linear-gradient(top, #9b00c1, #49005b);
	background-image: linear-gradient(#9b00c1, #49005b);
	border-color: #49005b #49005b hsl(288, 100%, 13%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}

.panel-default {
	border-color:  hsl(288, 100%, 18%);
}

#autohide_games_contain{
	margin-top: -40px;
}

/* Panel Lottery */
.left_container{
	width:70%;
	height: 95%;
	float:left;
}
.right_container{
	width:30%;
	height: 95%;
	float:left;
	padding-left:5px;
}
.total_container{
	width:100%;
	float:left;
	color: white;
}
.shift_information{
	width:100%;
	height:119px;
	float:left;
}
.bet_list{
	width:100%;
	height:69vh;
	float:left;
}
.stretch_panel{
	height:100%;
}
.cashier_controls{
	width:100%;
	float:left;
}
.panel_container{
	width:100%;
	height:100%;
	margin-top:-10px;
}
.button_container{
	width:100%;
	height:47%;
	max-height:47%;
	float:left;
	overflow:hidden;
}
.panel_functions_menu{
	width:21%;
	float:left;
}
.panel_functions_key{
	width:100%;
	float:left;
	height: 40px;
	padding-top: 10px;
}
.amounts_menu{
	width:24%;
	float:left;
	margin-right:1%;	
}
.amounts_key{
	width:50%;
	float:left;
	height:61px;
}
.amounts_key_col_2{
	width:100%;
	float:left;	
	height:61px;
}
.toggle_menu{
	margin-left:1%;
	margin-right:1%;
	width:18%;
	float:left;
}
.toggle_key{
	width:100%;
	float:left;
	height:92px;
}
.main_keypad{
	width:33.3333333333333%;
	float:left;
}
.main_key{
	width:33.3333333333333%;
	height:66px;
	float:left;
}
.main_key_input{
	width:33.3333333333333%;
	float:left;
}
.scroll_tender{
	width:100%;
	float:left;
	margin-top:10px;
}
.scroll_tender_key{
	width:33.3333333333333%;
	height:40px;
	float:left;
}
.large_text{
	font-size: 34px;
}
.house_btn{
	padding:1px;
	font-size:9px;
	width:12.5%;
	float:left;
	height:50px;
}
.menu_button{
	width: 225px;
	margin: 5px;
}

/* Keypad styling */
.sub_menu_button{
	width: 100%;
	margin: 5px 0px;
}

.keypad_button{
	width: 100%;
	height: 50px;
	padding-top: 7px;
	margin: 5px 0px;
	font-size: 20px;
}

#keypad_value{
	margin-top: 10px;
	font-size: 16px;
}
.edit_location {
  color: #00FF00;
  margin-left: 12px;
  cursor: pointer;
}
.edit_location:hover{
  color: #00FF00;
}
. panel_error span{
   color: red !important;
}
