<h2>PRIVACY POLICY:</h2>
			
				<p>This Privacy Policy describes the way in which CSC Lotto will deal with the information and data you provide to CSC Lotto to enable CSC Lotto to manage your relationship with CSC Lotto.</p>

				<p>We will process any personal information provided to CSC Lotto whether through the CSC Lotto website, or the customer application form or any other means, or otherwise held by CSC Lotto relating to you in the manner set out in this Privacy Policy. By submitting your information to CSC Lotto and using the Website you confirm your consent to the use of your personal information as set out in this Privacy Policy. If you do not agree with the terms of this Privacy Policy please do not use the Website or otherwise provide CSC Lotto with your personal information.</p>

				<h3>Information Collected and How It Is Used</h3>
				
				<p>The information and data about you which we may collect, use and process includes the following:</p>
				<ol>
					<li>Information that you provide to CSC Lotto by filling in forms on the Website or any other information you submit to CSC Lotto via the Website or email;</li>
					<li>Records of correspondence, whether via the Website, email, telephone or other means;</li>
					<li>Your responses to surveys or customer research that we carry out;</li>
					<li>Details of the transactions you carry out with us, whether via the Website, telephone or other means; and</li>
					<li>Details of your visits to the Website including, but not limited to, traffic data, location data, weblogs and other communication data.</li>
				</ol>
				
				<p>We may use your personal information and data together with other information for the purposes of:</p>
				<ul>
					<li>Processing your bets, including card and on-line payments;</li>
					<li>Setting up, operating and managing your account;</li>
					<li>Complying with our legal and regulatory duties;</li>
					<li>Building up personal profiles;</li>
					<li>Carrying out customer research, surveys and analyses;</li>
					<li>Providing you with information about promotional offers and our products and services, where you have consented; and</li>
					<li>Monitoring transactions for the purposes of preventing fraud, irregular betting, money laundering and cheating.</li>
				</ul>
				
				<h3>Information Storage</h3>
				<p>We will take all reasonable steps to ensure that your information is kept secure and protected. We will only disclose personal information to other companies within associated or subsidiary companies and to business partners, successors in title to our business and suppliers that are engaged to process such information on our behalf. If you apply for an account with CSC Lotto then to help CSC Lotto make credit decisions about you, to prevent fraud, to check your age and identity and to prevent money laundering, we may use third parties including credit reference agencies who will record any searches on your file. We may also make enquiries of, and disclose details of how you conduct your account to, such agencies, security organisations and any other relevant third parties for fraud and money laundering prevention.</p>

				<h3>Telephone Calls</h3>
				<p>Telephone calls to and from our Customer Contact Centre are recorded for training and security purposes along with the resolution of any queries arising from the service you receive.</p>

				<h3>Use Of Cookies</h3>
				<p>We may use cookies as a means of collecting information from a web server for the above purposes following a customer's use of the Website. If you register with CSC Lotto or if you continue to use the Website you agree to our use of cookies.</p>

				<p>Cookies contain information that is transferred to your computer's hard drive. They help CSC Lotto to improve the Website and to deliver a better and more personalized service. Some of the cookies we use are essential for the Website to operate.</p>

				<p>If you want to delete any cookies already stored on your computer or stop the cookies that keep track of your browsing patterns on the Website you can do so by deleting your existing cookies and/or altering your browser's privacy settings to block cookies (the process you follow will differ from browser to browser). Please note that deleting our cookies or disabling our future cookies means that you may not be able to access certain areas or features of the Website.</p>

				<h3>Internet-based transfers</h3>
				<p>Given that the Internet is a global environment, using the Internet to collect and process personal data necessarily involves the transmission of data on an international basis. Some of the data processors engaged to process personal data may be based outside of the Bahamas. Therefore, by browsing the Website and communicating electronically with us, you acknowledge and agree to our (or our suppliers or sub-contractors) processing your personal data outside the Bahamas. We will take all reasonable steps to ensure that your information and data is treated securely and in accordance with this Privacy Policy.</p>

				<h3>Disclosure of Information</h3>
				<p>We are entitled to share the information we hold on you which includes personal data and betting history with the regulator, sporting bodies and other bodies, including the police, in order to investigate fraud, money laundering or sports integrity issues and to comply with our regulatory duties including to the Gaming Board For The Bahamas.</p>

				<p>In order to comply with CSC Lotto's legal and regulatory requirements and CSC Lotto's own internal risk management procedures, we will retain information for a period of time (generally not more than six years) after closure of your account. All such information will be held in accordance with this Privacy Policy.</p>

				<h3>Access to information</h3>
				<p>You are entitled to access the information held about you.</p>

				<h3>Changes to our Privacy Statement</h3>
				<p>Any changes we may make to our Privacy Policy in the future will be posted on this page and any such changes will become effective upon posting of the revised Privacy Policy. If we make any material or substantial changes to this Privacy Policy we will use reasonable endeavors to inform you by email, notice on the Website or other agreed communications channels.</p>