				<div class="clearfix">
					<h2 class="col-sm-6" style="display: inline-block; padding-left: 0; margin-left: 0;">TERMS & CONDITIONS:</h2><h4 class="col-sm-6" style="display: inline-block; text-align: right; padding-right: 0; margin-right: 0; padding-top: 16px;">Latest Update: April 1, 2015; 12:00AM EST</h4>
				</div>
				<br>
				<p>THE TERMS AND CONDITIONS ("TERMS") SET OUT BELOW GOVERN YOUR USE OF THE WEBSITE AND SERVICES; YOU SHOULD READ THESE TERMS CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS.</p>

				<p>This agreement (together with the documents referred to therein) informs you as to the terms of use by which you may use the Website and the services available on the Website (the "Services"), whether as a registered user or as a guest.</p>

				<p>The Website is operated pursuant to a current pending Interactive Gaming License and is regulated by the Gaming Board For The Bahamas pursuant to The Gaming Act, 2014.</p>

				<p>1.  APPLICATION AND ACCEPTANCE</p>
				<p>2.  USE OF THE WEBSITE AND SERVICES</p>
				<p>3.  REGISTRATION AND ACCOUNT CREATION</p>
				<p>4.  ACCOUNT DEPOSITS, REPAYMENTS AND FORFEITURE</p>
				<p>5.  RESPONSIBLE GAMING</p>
				<p>6.  INTEGRITY OF PLAY AND BETTING</p>
				<p>7.  EXPRESS ACKNOWLEDGEMENTS</p>
				<p>8.  LICENCES</p>
				<p>9.  YOUR OBLIGATIONS</p>
				<p>10. INTELLECTUAL PROPERTY RIGHTS</p>
				<p>11. OUR LIABILITY</p>
				<p>12. INFORMATION ABOUT YOU AND YOUR VISITS TO THE WEBSITE</p>
				<p>13. UPLOADING OF POSTINGS</p>
				<p>14. VIRUSES, HACKING AND OTHER OFFENCES</p>
				<p>15. JURISDICTION, APPLICABLE LAW, AND DISPUTE RESOLUTION</p>
				<p>16. TECHNICAL MALFUNCTIONS</p>
				
				<h3>1.APPLICATION AND ACCEPTANCE</h3>
				<p>1.1.General.</p>
				<p>Unless otherwise agreed in writing, these Terms apply to your access to and use of the Website and the Services.</p>

				<p>1.2. Acceptance of Incorporated Terms. You may not access or use the Website or the Services if you do not accept the Terms. If you do not agree to these Terms of use, please leave the Website immediately. Acceptance of these Terms entails your deemed acceptance of the following, as may be updated from time to time at our sole discretion:</p>
				<p>(a) The Privacy Policy</p>
				<p>(b) The Credit Card Transaction Processing Agreement (Forthcoming)</p>
				<p>(c) Particular rules applicable to individual Activities.</p>
				
				<p>1.3.Minimum Age and Capacity Requirement. You must be not less than eighteen (18) years of age to access the Website. Notwithstanding that you may be eighteen years of age or older, you may not access the Website or the Services and may not accept the Terms if you are not of legal capacity to form a binding contract, or are otherwise precluded from using or receiving such Services under the laws of the country in which you are resident or from which you intend to access the Website or use the Services.</p>

				<p>1.4. Application of Terms. These Terms apply to: (a) the content, materials, information, documents, graphics and images made available on or from the Website ("Content"); (b) any content, materials, information or documents that you may upload (including any comments that you send or post to any message boards or user blogs) on the Website ("Postings"); (c) the software that you may need to download in order to play casino and table games; (d) any casino, poker, or other games that you may play, or any wagers or bets placed through the Website ("Games"); (e) These Terms incorporate all other rules and conventions that specifically apply to individual Games. Such rules and conventions will be accessible on the Website and may be updated from time to time; and (f) If you choose to play any Games, you consent to us making arrangements for you to play such Games. At all times, your access to these Games is subject to the Regulations and you have recourse to these terms and conditions and the remedies herein in the event of a dispute or other issue with respect to such Games or related play.</p>

				<p>1.5. Acceptance of Terms. The Terms shall be deemed accepted by you upon the earlier of your: (i) using the Website or the Services; or (ii) clicking to accept or acknowledging agreement with these terms when this option is made available to you in the course of accessing or registering for the Services.</p>

				<p>1.6. Amendments and Responsibility for Reviewing. We may make changes to the Terms from time to time, and will make a new copy of the Terms available at this link. You understand and agree that you are responsible for checking this link to determine whether the Terms have been updated and, in any event, that if you access the Website or use the Services after the date on which the Terms have changed, you agree that you shall be deemed to have affirmatively accepted the updated Terms. When we post changes to the Terms, the "Latest Update" date at the top of Terms will be updated.</p>

				<h3>2.USE OF THE WEBSITE AND SERVICES</h3>
				
				<p>2.1. Services Offered In Operator's Discretion. Access to the Website is permitted on a temporary basis, and we reserve the right to withdraw or amend the Services we provide without notice. The Website is updated regularly, and may change at any time. You acknowledge and agree that the specific form and/or nature of the Website or Services may change from time to time without prior notice and we may cease providing the Services (or any specific features within the Services) to you or to users generally at our sole discretion, without prior notice to you. If the need arises, we may suspend access to the Website, or close it indefinitely. Any of the material on the Website may be out of date at any given time, and we are under no obligation to update such material. We will not be liable if for any reason the Website is unavailable at any time or for any period but this shall not, of itself, preclude us from returning to you any money that is properly due to you. We may terminate your Account, delete any content or information that you have posted on the Website, and/or prohibit you from using or accessing the Website or Service (or any portion, aspect or feature of the Service) for any reason, at any time in our sole discretion. Without limiting the generality of the foregoing, we shall have the right to reject any wager or withdraw any Game in our absolute discretion. We will not be liable for any loss whatsoever arising from the cancellation of any Game or sports wager, including any realizable or perceived loss, for whatever reason, and/or the chance to participate in our sportsbook, casino and lotto systems.</p>

				<p>2.2. Your Access. You may only use the Services if you reside in a jurisdiction that permits you to place wagers on the outcome of sporting events, to download and to play casino, poker and other table games, and to place lotto wagers. Subject to these Terms, you are responsible for making all technical or other arrangements necessary for you to have access to the Website.</p>

				<p>2.3. Services for Personal Use Only. You shall not reproduce, duplicate, copy, sell, trade or resell the Services for any purpose.</p>

				<p>2.4. Access Disruptions. We are not responsible or liable in any way for any Internet disruptions or disconnections, and all risk and responsibility rests with you.</p>
				
				<p>2.5. Account History.  You can request your account history for any period of time by sending an email to help@asurewin.com, please specify the exact timeframe you wish the statement for.</p>

				<h3>3.REGISTRATION AND ACCOUNT CREATION</h3>
				
				<p>3.1. Account Registration. You must register an account with us ("Account") before you can place any wagers, download any Software, or play any Games. You must be at least 18 years old, and produce documents attesting that you are a 'domestic player' as defined in the Act in order to register an Account. We reserve the right to suspend your Account and request proof of age in order to ensure that minors are not using the service. If satisfactory proof of age is not provided we further reserve the right to permanently suspend your Account.</p>

				<p>3.2. Single Account Access. You are permitted to open only one (1) Account. Multiple accounts held by the same individual are subject to immediate closure and we reserve the right to seize any funds gained as a result of holding multiple accounts. Furthermore you shall not permit another person to access the Website or Software via your account.</p>

				<p>3.3. Authorized Users. We do not recognize Authorized Users of your account. You are responsible for safeguarding access to your account. We will not accept responsibility for any losses you incur as a result of any breach of your account.</p>

				<p>3.4. Accounts Open in Our Discretion. We reserve the right to suspend, disable or terminate your Account at any time in our sole discretion. Unless otherwise required or directed by the Gaming Board in accordance with the relevant provisions of the Regulations, all decisions regarding the opening, maintenance and closing of Accounts rests with us and any decisions we take regarding any aspect of the Software, your participation in or the playing of the Games or any aspect of an Account is final.</p>

				<p>3.5. Information Required. If you choose to register an Account you will be required to provide your full name, address, date of birth, email address and telephone number. If your identity cannot be validated, you may be required to submit additional information or documentation. You may also be required to answer one or more security questions, after which you will be sent a confirmatory email. You may also be required to update the information or data or to provide additional items as part of ongoing efforts to prevent illegal and fraudulent activities, and/or to comply with our Anti-Money Laundering policies and protocols.</p>

				<p>3.6. Information to be Valid and Verifiable. All information and data that you provide to us either at the time you register for an Account or at any subsequent time must be truthful, accurate and verifiable in all respects. By providing such information and data you consent to us submitting it to third party providers of age and identification services to verify that you are who you say you are and that the information you give is true and accurate. We reserve the right to use third party verification services to authenticate your account information and identity, and you expressly acknowledge and agree that we may confirm the accuracy of any information you submit against government-issued ID. If you have provided false information or if you are unable or unwilling to provide documentation to confirm your information, as we are unable to confirm your identity, your Account may be terminated and any and all activity within the Account deemed invalid, including, without limitation, the nullification of potential winnings. By registering an Account you grant us the right to disclose your identity and any information that you have provided in connection with your account to anyone who makes any claim or allegation that: (a) you are a minor or under the minimum age required to make use of any part of the Website; or (b) any Posting or other material posted or uploaded by you to the Website constitutes a violation of their intellectual property rights, or of their right to privacy or was otherwise posted or uploaded in breach of these terms of use.</p>

				<p>3.7. Access Credentials. You will be assigned a numerical Account ID. You must treat your user Account ID and password as confidential and not disclose any part of them to anyone else. We have the right to disable any user Account ID, password whether chosen by you or assigned by us, at any time, if in our opinion you have failed to comply with any of the provisions of these Terms of Service. You are responsible for ensuring that no one else (particularly but without limitation those who may share your internet connection) is able to make use of your Account ID (or email address) and password and you shall be responsible for all transactions that take place on your Account whether or not you knew or consented to such transactions taking place.</p>

				<p>3.8 Dormant Accounts. Your account will be deemed 'Dormant' if you have not made a deposit, a withdrawal, or placed a bet/wager for a period of eighteen (18) months. At seventeen months of inactivity, we will provide an email notice to the email address registered to the account, advising that the Account balance will be set to zero at thirty (30) days from the notice. If the Account remains dormant, at 18 months of inactivity, the Account balances are zeroed out.</p>

				<p>3.9. Account Reviews. You agree that we may at any time investigate your Account to ensure compliance with these Terms and to ensure that no improper or illegal activity is or has taken place, including without limitation fraudulent activity or activity that is contemplated by our Anti-Money Laundering policy and protocols. In the event that it is determined that your Account has been involved in any of the above, we shall be entitled to use any and all money to the credit of your Account to meet any costs, expenses or liabilities reasonably incurred in conducting such investigation. We will refund to your Account any such fee if the inquiry is subsequently concluded in your favor.</p>

				<h3>4.ACCOUNT DEPOSITS, REPAYMENTS AND FORFEITURE</h3>
				
				<p>4.1.No Credit. Credit is not extended to players under any circumstances. You may not participate in or play the Games unless and until you have deposited sufficient funds into your Account. We do not allow Accounts to become overdrawn.</p>

				<p>4.2. Deposit Information. To deposit funds in your Account you must visit one of our locations and present a proper Government issued ID along with your account number. Upon verification of your identification, you will be allowed to deposit funds to your account.</p>

				<p>4.3. Deposits Retention. If you choose to place any wagers or to play any Games, your money will be deposited with and held by us pending the outcome of the relevant event, Game or Lottery drawing. Each of the above arrangements are in accordance with these Terms, and the Gaming Act and its Regulations.</p>

				<p>4.4. Deposit Limits. We reserve the right to place a limit on the amount of funds that you will be able to deposit at any time at a level that we may determine at our sole discretion. You may request that this deposit limit be altered by contacting our Customer Services Team.</p>

				<p>4.5. Acceptance of Deposit. Neither we nor any of our agents shall be under any obligation to accept your Deposits. Deposits are posted to your account immediately.</p>

				<p>4.6. Recovery of Fees. We reserve the right to recover any fees covered on deposits without prior notice if little or no play is made between deposit and withdrawal.</p>

				<p>4.7. Uncollected or Reversed Deposits. If any deposit is charged back or is otherwise uncollectible for any reason, any and all winnings generated from play or bets conducted in such Account from the time of the applicable deposit until its reversal or uncollectability shall be invalidated, forfeited and deducted from your Account balance. In addition, the amount of the initial failed deposit will be invalidated, forfeited and deducted from the Account balance. In the event that, following such deductions, your Account balance is in a negative balance; you expressly acknowledge and agree that such negative balance shall constitute an uncontestable debt payable by you to us, due and payable immediately. You expressly acknowledge and agree that, in the event of non-payment of such debt, we may assign such debt to one or more collections agencies, who shall have the legal right to pursue such assigned debt using any or all available legal remedies. Note that following the assignment of such debt to a collections agency, the resolution of such debt and any legal processes associated therewith are not within our control and must be negotiated or resolved directly with such collections agency.</p>

				<p>4.8. Withdrawals. To withdraw funds from your Account you will need to request a withdrawal from the Cashier at any of our locations. You may request a withdrawal of any amount up to the full balance of your Account. If we are satisfied that you have complied with the Terms, all AML and fraud-screening requirements, and all rules relating to the Games and any related bonuses, the payout shall be made to you.</p>

				<p>4.9. Withdrawal of Bonus bucks. Unless otherwise stated in the particular rules applicable to individual Activities, Games or Bonus promotions, any bonus funds that are credited to your Account (whether as a result of a prize, promotion, redemption or any other reason) shall be subject to the following play through requirements: Sportsbook 3x; Casino 20x; Poker 3:1 - before such bonus funds (and any associated winnings from such bonus funds) can be withdrawn.</p>

				<h3>5.RESPONSIBLE GAMING</h3>
				
				<p>5.1. No Underage Access / Play. Without limiting any other provision hereof, and in the interests of clarity, under no circumstances may Account be created by any user that is under the age of eighteen (18), nor shall any one under the age of eighteen (18) be permitted to play Games. Any winnings in an Account that is identified by us as having been improperly opened or used by someone under the age of 18 shall be forfeited and the Account closed.</p>

				<p>5.2. Generally. The Website and the Services are intended solely for recreational, entertainment purposes. We are committed to ensuring that players have the ability to manage or limit their play on the Website. If gambling is negatively affecting your personal or professional life, please seek counsel or assistance from a professional, your Pastor or Priest or an Addiction Organization.</p>

				<h3>6.INTEGRITY OF PLAY AND BETTING</h3>
				
				<p>6.1. Criminal Activity. If we have reasonable cause to believe that criminal or other suspicious activities are occurring through one or more Accounts (including, without limitation, a suspicion of attempted money-laundering or fraud), we expressly reserve the right to close such Accounts and/or report such activity to the Gaming Board and/or such other applicable regulatory bodies or services. All Account balances (including both deposits and any winnings) shall be forfeited.</p>

				<p>6.2. Fraudulent Activity. If, in our reasonable discretion, we determine that a player has engaged in fraudulent, unlawful, dishonest or improper activity (including, without limitation, the provision of false or deliberately misleading information), we reserve the right to immediately terminate or deny a player access to their Account. In such event, all Account balances (including both deposits and any winnings) shall be forfeited and we reserve the right to disclose information (including the identity of the player) to applicable parties including but not limited to; the Gaming Board, banks, credit card companies and/or any person or entity that has the legal right to such information, and/or taking legal action against such player.</p>

				<p>6.3. "Bots" Prohibited. All actions on the Website must be executed by players via the supplied user interface. We will take any measures necessary to ensure that all robot software or programs designed to simulate real player play will be detected and prevented from accessing the Website. Any accounts associated with such activity will be subject to review and possible termination. If, in our reasonable discretion, we determine that an Account is employing such software, the Account will be disabled and all Account balances (including both deposits and any winnings) shall be forfeited.</p>

				<p>6.4. Abuse of System Vulnerability. If, in our reasonable discretion, we determine that an Account sought to or actually did exploit any hardware or software error, malfunction, "bug" or other vulnerability, we shall immediately close such Account and all Account balances, including both deposits and any winnings, shall be immediately forfeited. If, in our reasonable discretion, we determine that such activity is occurring, the Account(s) may, in our sole and absolute discretion, be disabled and all Account balances (including both deposits and any winnings) shall be forfeited. In such event, we expressly reserve the right to initiate civil legal proceedings and report such activities to authorities in support of criminal investigations and charges, as appropriate.</p>

				<p>6.5. Integrity of Sport. We are committed to ensuring the integrity of sport and to participating in efforts to identify and eradicate match fixing. As such, notwithstanding any other term of the this Agreement, or any provision of the applicable Privacy Policy, by placing a bet or wager on the Website, you expressly acknowledge and agree that we at all times reserve the right in our sole discretion to report Irregular Betting Activity to such sports federations, regulators, agencies, commissions or associations (or their respective agents) as we deem appropriate ("Regulatory Bodies") in order to enable identification of irregular activity and to support appropriate investigations. "Irregular Betting Activity" means activity that, in our sole assessment, deviates from expected betting patterns and includes, without limitation: (i) an unusual and significant number of bets originating from the same geographic region or through linked accounts; (ii) a bettor continuing to place bets at any price in the face of a steady reduction in the applicable odds; and/or (iii) any other indicator or pattern assessed by us as indicative of potential match fixing. We shall use reasonable commercial measures to ensure that any information provided to Regulatory Bodies pursuant to this provision is subject to reasonable contractual non-disclosure provisions, and that all information or documentation shall be destroyed by such Regulatory Bodies when it is no longer relevant in connection with any ongoing investigation, enquiry or disciplinary process.</p>

				<h3>7.EXPRESS ACKNOWLEDGEMENTS</h3>
				
				<p>BY ACCESSING AND/OR BY USING THE SERVICES AVAILABLE ON THE WEBSITE, YOU EXPRESSLY ACKNOWLEGE AND AGREE THAT:</p>

				<p>7.1. YOU HAVE VOLUNTARILY SOUGHT OUT AND ESTABLISHED CONTACT WITH THE WEBSITE;</p>

				<p>7.2. FOR THE PURPOSES OF MAKING ANY WAGERING OR OTHER TRANSACTIONS, YOU ARE DEEMED TO HAVE ATTENDED TO THE COMMONWEALTH OF THE BAHAMAS;</p>

				<p>7.3. ANY TRANSACTIONS CONDUCTED WITH YOU THROUGH THE WEBSITE SHALL BE DEEMED TO TAKE PLACE IN THE COMMONWEALTH OF THE BAHAMAS AND SHALL AT ALL TIMES BE CONSTRUED AND ENFORCED IN ACCORDANCE WITH, AND SHALL BE GOVERNED EXCLUSIVELY BY, THE LAWS APPLICABLE WITHIN THE BAHAMAS WITHOUT REGARD TO ANY CONFLICTS OF LAWS PROVISIONS. FURTHERMORE, YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT ANY DISPUTE ARISING HEREUNDER SHALL BE SUBJECT TO THE EXCLUSIVE JURISDICTION OF THE BAHAMAS. THE ABOVE-NOTED ARBITRATION PROCESS SHALL BE THE EXCLUSIVE FORUM AND THE COMMONWEALTH OF THE BAHAMAS SHALL HAVE EXCLUSIVE JURISDICTION WITH RESPECT TO ANY AND ALL DISPUTES ARISING HEREUNDER, AND NO LEGAL ACTION OR CLAIM OF ANY NATURE MAY BE INITIATED IN ANY OTHER JURISDICTION;</p>

				<h3>8.LICENCES</h3>
				
				<p>8.1. You are hereby granted the following non-transferrable, revocable licenses ("Licenses"): (a) a license to view, use, print and download Content from the Website for your private personal use only; (b) a license to upload Postings to the Website for your private personal use only; (c) a license to download, install and use the Software and to play and participate in the Games for your private personal use only.</p>

				<p>8.2. You acknowledge and agree that: (a) none of the Licenses are exclusive to you and you may not transfer your rights under any of them to anyone else; (b) we may revoke or terminate any or all of the Licences and any of your rights under any of them at any time and for any reason; (c) upon termination of any of the Licenses you must immediately cease participating in and playing the Games; delete the Software; remove any Postings; and destroy all Content that you have printed or downloaded.</p>

				<p>8.3. Any rights not expressly granted in these Terms of use are reserved.</p>

				<h3>9.YOUR OBLIGATIONS</h3>
				
				<p>Except as expressly set out in these Terms of use or as otherwise may be permitted by applicable laws, you undertake as follows:</p>

				<p>9.1. Not to copy or reproduce the Content, Software or Games in any way or for any reason except with our prior written permission or where such copying or reproduction is incidental to normal use of the Content, Software or Games and consistent with the terms of the relevant License;</p>

				<p>9.2. Not to make alterations to, or modifications of, or create derivative works using the whole or any part of the Content, Software or Games, nor to permit the Content, Software or Games or any part of them to be combined with, or become incorporated in, any other content, software or games;</p>

				<p>9.3. Not to copy, reproduce, store or include any of the Content, Software or Games in any other website or public or private electronic retrieval system or service other than with our prior written consent;</p>

				<p>9.4. To the extent that you have printed or downloaded any Content in accordance with these terms of use you agree: not to use any of the illustrations, photographs, images, video or audio sequences or any graphics separately from any accompanying text; and to ensure that our copyright and trade mark notices and any legends, displays and designations in connection therewith appear in all copies and reproductions;</p>

				<p>9.5. Not to rent, lease, sub-license, loan, translate, merge, adapt, vary or modify the Software;</p>

				<p>9.6. Not to disassemble, decompile, reverse engineer or create derivative works based on, the whole or any part of the Software nor attempt to do any such thing;</p>

				<p>9.7. Not to provide or otherwise make available the Software (in whole or in part and including but not limited to program listings, object and source program listings, object code and source code);</p>

				<p>9.8. Not to use the Software, participate in or to play the Games via any communications network or by means of remote access, except as expressly permitted in these Terms;</p>

				<p>9.9. Not to use any of the Content, Software or Games for commercial purposes without obtaining a license to do so from us or our licensors; and</p>

				<p>9.10. To immediately notify us by email to support@CSC Lotto.com if you suspect that the Content, Software or any Postings infringe the intellectual property rights of any other person.</p>

				<h3>10.INTELLECTUAL PROPERTY RIGHTS</h3>
				
				<p>10.1. You acknowledge that we are the owner or licensee of all Intellectual Property Rights in the Website, the Content, Software and the Games. All such rights are reserved. For the purposes of these Terms, "Intellectual Property Rights" means patent rights (including patent applications and disclosures), copyrights (including copyright applications), trade secrets, moral rights, know-how and any other similar rights or intangible assets recognized under any law(s) or international convention(s) in any country or jurisdiction in the world where such rights accrue.</p>

				<p>10.2. You may print off one copy, and may download extracts, of any page(s) from the Website for your personal reference and you may draw the attention of others within your organization to material posted on the Website.</p>

				<p>10.3. You acknowledge that you have no right to have access to the Software in source code form or in unlocked coding or with comments.</p>

				<p>10.4. We reserve the right to remove any or all of the Content, Software and Games from the Website (in particular but without limitation if we suspect that they infringe another person's intellectual property rights).</p>

				<p>10.5. Subject to these Terms, you shall acquire no rights whatsoever in and/or to the Website, the Content, Services, or the Software. You may not (and you may not permit or enable anyone else to) copy, modify, create a derivative work of, reverse engineer, decompile or otherwise attempt to extract the source code of the Software or any part thereof, unless this is expressly permitted or required by law, or unless you have been specifically told that you may do so by us, in writing.</p>

				<p>10.6. You agree that you shall not remove, obscure, or alter any proprietary rights notices (including copyright and trade mark notices) which may be affixed, contained within, or displayed upon the Website, the Software, or the Services. Nothing in the Terms gives you a right to use any CSC Lotto' trade names, trademarks, service marks, logos, domain names, and/or any other distinctive brand features. You expressly agree that you will not use any CSC Lotto' trade mark, service mark, trade name, logo or distinctive brand feature in a way that is likely or intended to cause confusion about the owner or authorized user of such marks, names or logos.</p>

				<h3>11.OUR LIABILITY</h3>
				
				<p>11.1. NOTHING IN THESE TERMS SHALL EXCLUDE OR LIMIT OUR WARRANTY OR LIABILITY FOR LOSSES WHICH MAY NOT BE LAWFULLY EXCLUDED OR LIMITED BY APPLICABLE LAW. YOU EXPRESSLY UNDERSTAND AND AGREE THAT YOUR ACCESS TO THE WEBSITE AND YOUR USE OF THE SERVICES IS AT YOUR SOLE RISK AND THAT THE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE." IN PARTICULAR, WE AND OUR SUBSIDIARIES, AFFILIATES, SERVICE PROVIDERS AND LICENSORS DO NOT REPRESENT OR WARRANT TO YOU THAT: (I) YOUR USE OF THE WEBSITE OR THE SERVICES WILL MEET YOUR REQUIREMENTS, (II) YOUR USE OF THE WEBSITE OR THE SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE OR FREE FROM ERROR, (III) ANY INFORMATION OBTAINED BY YOU AS A RESULT OF YOUR USE OF THE WEBSITE OR SERVICES WILL BE ACCURATE OR RELIABLE, AND (D) THAT DEFECTS IN THE OPERATION OR FUNCTIONALITY OF ANY SOFTWARE PROVIDED TO YOU AS PART OF THE SERVICES WILL BE CORRECTED. ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE WEBSITE OR SERVICES IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR OTHER DEVICE OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM US OR THROUGH OR FROM THE WEBSITE OR SERVICES SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TERMS. WE FURTHER EXPRESSLY DISCLAIM ALL WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</p>

				<p>11.2. YOU EXPRESSLY UNDERSTAND AND AGREE THAT WE, OUR SUBSIDIARIES AND AFFILIATES, AND SUPPLIERS AND LICENSORS SHALL NOT BE LIABLE TO YOU FOR: (I) ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL CONSEQUENTIAL OR EXEMPLARY DAMAGES WHICH MAY BE INCURRED BY YOU, HOWEVER CAUSED AND UNDER ANY THEORY OF LIABILITY. THIS SHALL INCLUDE, BUT NOT BE LIMITED TO, ANY LOSS OF PROFIT (WHETHER INCURRED DIRECTLY OR INDIRECTLY), ANY LOSS OF GOODWILL OR BUSINESS REPUTATION, ANY LOSS OF DATA SUFFERED, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR OTHER INTANGIBLE LOSS; (II) ANY LOSS OR DAMAGE WHICH MAY BE INCURRED BY YOU, INCLUDING BUT NOT LIMITED TO LOSS OR DAMAGE AS A RESULT OF: (A) ANY CHANGES WHICH WE MAY MAKE TO THE WEBSITE OR SERVICES, OR FOR ANY PERMANENT OR TEMPORARY CESSATION IN THE PROVISION OF THE SERVICES (OR ANY FEATURES WITHIN THE SERVICES); (B) THE DELETION OF, CORRUPTION OF, OR FAILURE TO STORE, ANY CONTENT AND OTHER COMMUNICATIONS DATA MAINTAINED OR TRANSMITTED BY OR THROUGH YOUR USE OF THE SERVICES; (C) YOUR FAILURE TO PROVIDE US WITH ACCURATE ACCOUNT INFORMATION; (D) YOUR FAILURE TO KEEP YOUR PASSWORD OR ACCOUNT DETAILS SECURE AND CONFIDENTIAL. THE LIMITATIONS ON OUR LIABILITY ABOVE SHALL APPLY WHETHER OR NOT WE HAVE BEEN ADVISED OF OR SHOULD HAVE BEEN AWARE OF THE POSSIBILITY OF ANY SUCH LOSSES ARISING.</p>

				<p>11.3. Without limiting any other provision hereof, you understand that by using the Services you may be exposed to Content that you may find offensive or objectionable and that, in this respect, you access the Website and use the Services at your own risk.</p>

				<h3>12.INFORMATION ABOUT YOU AND YOUR VISITS TO THE WEBSITE</h3>
				
				<p>12.1. We process information about you in accordance with our Privacy Policy. By using the Website, you consent to such processing and you warrant that all data provided by you is accurate and complete.</p>

				<h3>13.UPLOADING OF POSTINGS</h3>
				
				<p>13.1.Whenever you make use of a feature that allows you to make or upload Postings or other material to the Website, or to make contact with other users of the Website, you must comply with the content standards set and communicated by us from time to time. You warrant that any such contribution does and shall comply with those standards, and you indemnify us for any breach of that warranty.</p>

				<p>13.2. Other than personally identifiable information, which is covered under our Privacy Statement, any Posting or other material that you make or upload to the Website will be considered non-confidential and non-proprietary, and you hereby grant us a non-exclusive irrevocable, worldwide right and license to use, copy, distribute and disclose or license to third parties any such material for any purpose in perpetuity. You represent and warrant to us that you are the legal owner of or all content and materials submitted to us or uploaded for use on the Website as a Posting and that you are entitled to and / or have obtained all necessary consents, permissions and authorities to grant us the license under this clause.</p>

				<p>13.3. We will not be responsible or liable to any third party, for the content or accuracy of any Posting or other materials made or uploaded by you or any other user of the Website.</p>

				<p>13.4. We have the right to remove any Posting or other material you make or upload on the Website in our sole and absolute discretion.</p>

				<p>13.5. You are prohibited from making or uploading any Posting or other materials on the Website and from transmitting or distributing to, from, or on the Website any Posting or Content: (a) that is threatening, defamatory, obscene, indecent, seditious, offensive, pornographic, abusive, liable to incite racial hatred, discriminatory, threatening, menacing, scandalous, inflammatory, blasphemous, in breach of confidence, in breach of privacy or which may cause annoyance or inconvenience; or (b) for which you have not obtained all necessary licenses and/or approvals; or (c) which constitutes or encourages conduct that would be considered a criminal offence, give rise to civil liability, or otherwise be contrary to the law of or infringe the rights of any third party, anywhere in the world, including, without limitation, Intellectual Property Rights; or (d) which is technically harmful (including, without limitation, computer viruses, logic bombs, Trojan horses, worms, harmful components, corrupted data or other malicious software or harmful data); or (e) which contains any advertising, promotion, solicitation for goods, services or funds or solicitation for others to become members of any enterprise or organization;</p>

				<p>13.6. You may not make or upload any Posting or other materials on the Website anonymously.</p>

				<p>13.7. We do not warrant that we have reviewed or will monitor content, materials, information, documents, advertisements, graphics and images (including without limitation any messages, data, information, text, or links) made available to or uploaded on the Website by other persons, and we reserve the right to delete any of it at any time, for any reason. We expressly disclaim all liability therefor.</p>

				<h3>14. VIRUSES, HACKING AND OTHER OFFENCES</h3>
				
				<p>14.1. You must not misuse the Website by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorized access to the Website, the server(s) on which the Website is stored or any server, computer or database connected to the Website. You must not attack the Website via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use the Website will cease immediately and you shall immediately forfeit all amounts in your Account as liquidated damages incurred as a consequence of such attack.</p>

				<p>14.2. We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of the Website or to your downloading of any material posted on it, or on any website linked to it.</p>

				<p>14.3. You may not use robot software, EPAs or any other program designed to simulate game play. We will take any measures necessary to ensure that any such software or programs are detected.</p>

				<p>14.4. We carry out continuous monitoring and undertake rigorous examination of play by both manual and automated means in order to detect such behavior and any players who violate this will be banned from using the Website for life.</p>

				<h3>15. JURISDICTION, APPLICABLE LAW, AND DISPUTE RESOLUTION</h3>
				
				<p>15.1. These terms of use shall be governed by, interpreted, and otherwise construed pursuant to and in accordance with applicable law(s) of the Commonwealth of the Bahamas.</p>

				<p>15.2. Any disputes arising in connection with these terms of use may be referred to the Gaming Board for the Bahamas in accordance with the relevant provisions of the Regulations which shall apply to and govern disputes between you and us.</p>

				<p>15.3. If you have any complaints or concerns arising from your use of the Website, including any concerns about material which appears on the Website, please in the first instance contact info@CSC Lotto.com where a dedicated member of our team of Customer Service Representatives will handle your complaint. If your complaint cannot be resolved to your satisfaction by our Customer Service Representative, you may request in writing to info@CSC Lotto.com that the complaint be escalated to a Customer Service Supervisor. If your complaint cannot be resolved to your satisfaction by our Customer Service Supervisor, you may request in writing to info@CSC Lotto.com that the complaint be further escalated to our Operations Manager.</p>

				<p>15.4. We prefer to deal with disputes internally in accordance with the above procedures, you can also direct your complaint to our regulator the Gaming Board for the Bahamas.</p>

				<h3>16. TECHNICAL MALFUNCTIONS</h3>
				
				<p>16.1. In the event of system malfunction or damage which results in the loss of data, CSC Lotto will make reasonable efforts to recover all historic data and all recovered data will be deemed official.  Any unrecoverable data will be voided.</p>

				<p>16.2. Any failure on the Customers' side including but not limited to network connection or computer problems, will not void the bet result. Customers can check their own bet history in the Account Transactions section of their Account to see how any bet was determined.</p>
				
				<p>16.3. System Failures and Malfunctions

				<p>System failures and malfunctions voids all pays and plays. </p>

				<p>Casino game sessions will be paused at the time of system failure and can be restored after the patron logs in again and starts the game.</p>

				<p>Details of how system failures and malfunctions will impact wagers placed on event-based games is provided below.</p>

				<p>Lotto Games</p>

				<p>In the event of a system failure after a patron places a Lotto bet:
				<li>If the system is restored before the Lotto draw takes place, then all bets on that draw will remain active and will be settled as normal.</li>
				<li>If the system is not restored by the time the Lotto draw takes place, then all bets placed on that draw will be refunded.</li></p>

				<p>Rapidballs</p>

				In the event of a system failure after a patron places a bet on a Rapidballs game and before the next draw takes place, all bets placed on that draw will be refunded.
				
				<p>Sports Bets</p>

				<p>All bets placed on sporting events that are either abandoned or postponed will be voided and the bets refunded to the patron.
				In the event of a system failure after a patron places a bet on a sporting event:
				<li>If the system is restored before the sporting event takes place, then all bets on the event will remain active and will be settled as normal.</li>
				<li>If the system is restored within 12 hours after the end of the sporting event, then all bets on the event will remain active and will be settled as normal.</li>
				<li>If the system is not restored within 12 hours after the end of the sporting event, then all bets will be refunded.</li></p>
