body{
	background: #000 url('/admin/images/background.jpg');
}

/* http://charliepark.org/bootstrap_buttons/ */
.btn-primary {
	background-color: hsl(288, 100%, 18%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9b00c1", endColorstr="#49005b");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#9b00c1), to(#49005b));
	background-image: -moz-linear-gradient(top, #9b00c1, #49005b);
	background-image: -ms-linear-gradient(top, #9b00c1, #49005b);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9b00c1), color-stop(100%, #49005b));
	background-image: -webkit-linear-gradient(top, #9b00c1, #49005b);
	background-image: -o-linear-gradient(top, #9b00c1, #49005b);
	background-image: linear-gradient(#9b00c1, #49005b);
	border-color: #49005b #49005b hsl(288, 100%, 13%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}
.fa {
  cursor: pointer;
}


/* http://charliepark.org/bootstrap_buttons/ */
.btn-magenta {
	background-color: hsl(305, 100%, 24%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5bf1", endColorstr="#7a0070");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ff5bf1), to(#7a0070));
	background-image: -moz-linear-gradient(top, #ff5bf1, #7a0070);
	background-image: -ms-linear-gradient(top, #ff5bf1, #7a0070);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff5bf1), color-stop(100%, #7a0070));
	background-image: -webkit-linear-gradient(top, #ff5bf1, #7a0070);
	background-image: -o-linear-gradient(top, #ff5bf1, #7a0070);
	background-image: linear-gradient(#ff5bf1, #7a0070);
	border-color: #7a0070 #7a0070 hsl(305, 100%, 13%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.72);
	-webkit-font-smoothing: antialiased;
}

/* for datatables double click */
#datatable tbody tr {
   -moz-user-select     : none;
   -khtml-user-select   : none;
   -webkit-user-select  : none;
   -o-user-select       : none;
   user-select          : none;
}
.child-table tbody tr {
   -moz-user-select     : none;
   -khtml-user-select   : none;
   -webkit-user-select  : none;
   -o-user-select       : none;
   user-select          : none;
}

.thumbnail{
    position:relative;
    overflow:hidden;
}
.thumbnail-caption{
    position:absolute;
    top:0;
    right:0;
    background: rgba(168, 164, 210, 0.65);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

#loading-spinner {
	display: none;
	background-image: url('/lib/assets/fancybox/source/fancybox_sprite.png');
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#loading-spinner div {
	width: 44px;
	height: 44px;
	background: url('/lib/assets/fancybox/source/fancybox_loading.gif') center center no-repeat;
}
.save_vm, .reset_vm {
  cursor: pointer;
  margin-right: 3px;
}
.no-padding{
   padding-left: 0px;
   padding-right: 0px;
}
.cashier_vm {
  width: 100%;
  margin-right: 12px;
}
.fa-save, .fa-undo {
   color: hsl(288, 100%, 18%) !important;
}
